Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

hide arbeidssituasjon (#248)
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
Due: yarn eslint --fix --max-warnings=0

remove skjermosForPasient
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/AnnenInfoView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.test.tsx
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/server/api-models/sykmelding/Sykmelding.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/utils/sykmeldingUtils.test.ts
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use @navikt/next-logger
  next-logger.config.js
  package.json
  src/amplitude/AmplitudeInstance.ts
  src/auth/token/idporten.ts
  src/auth/token/tokenx.ts
  src/auth/withAuthentication.ts
  src/fetching/apollo.ts
  src/hooks/useHotjarTrigger.ts
  src/hooks/useMutations.ts
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_app.page.tsx
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
  src/pages/api/logger.api.ts
  src/pages/api/proxy/[...path].api.ts
  src/pages/index.page.tsx
  src/server/api-models/date.ts
  src/server/flexService.ts
  src/server/graphql/mockResolvers.ts
  src/server/sykmeldingerService.ts
  src/utils/logger.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

always closed sykmelding for arbeidsgiver
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

always closed sykmelding for arbeidsgiver (#254)
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add demo environment warning
  src/components/LabsWarning/LabsWarning.module.css
  src/components/LabsWarning/LabsWarning.tsx
  src/pages/_app.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use breadcrumbs from nav dekoratoren
  .env.development
  jest.setup.js
  nais-dev-gcp.yaml
  nais-prod.yaml
  next.config.js
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/404.page.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/utils/env.ts
  src/utils/sykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

upgrade deps (no majors)
  package.json
  yarn.lock
Due: yarn prettier --write

use breadcrumbs from nav dekoratoren (#255)
  .env.development
  jest.setup.js
  nais-dev-gcp.yaml
  nais-prod.yaml
  next.config.js
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/404.page.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/utils/env.ts
  src/utils/sykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

[skip ci] apply new prettier style to config files as well
  jest.config.js
  jest.setup.js
  next-logger.config.js
  next.config.js
  sentry.client.config.js
  sentry.server.config.js
Due: none

extensively test PeriodePicker.tsx
  package.json
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/PeriodePicker.test.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/PeriodePicker.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add some trace logging for new datepicker
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Egenmeldingsperioder.tsx
  src/hooks/useMutations.ts
Due: yarn eslint --fix --max-warnings=0

hastily and hackily implement egenmeldings-flow
  .github/workflows/labs-delete.yaml
  .github/workflows/workflow.yaml
  nais-labs.yaml
  src/amplitude/AmplitudeInstance.ts
  src/auth/withAuthentication.ts
  src/components/HemmeligMockUI/HemmeligMockUI.module.css
  src/components/HemmeligMockUI/HemmeligMockUI.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/StatusInfo/StatusInfo.module.css
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingViews/OK/APEN/Form/FeiloppsummeringContainer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ArbeidsgiverOrgnummer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/EgenmeldingsperioderForKortePerioderOgSånt.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/EgenmeldingsperioderForKortePerioderOgSånt.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/fetching/apollo.ts
  src/hooks/useBreadcrumbs.ts
  src/hooks/useMutations.ts
  src/hooks/useSykmeldinger.ts
  src/pages/_app.page.tsx
  src/pages/api/mock/create-mock.api.ts
  src/pages/api/mock/delete-mock-user.api.ts
  src/pages/api/mock/get-mock-users.api.ts
  src/pages/hemmelig/mock.module.css
  src/pages/hemmelig/mock.page.tsx
  src/pages/index.page.tsx
  src/server/graphql/mockDb/index.ts
  src/server/graphql/mockDb/mockDb.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolvers.ts
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatus.tsx
  src/server/pdf/pdf.tsx
  src/utils/dateUtils.ts
  src/utils/userTestId.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

skeleton for new form structure, disabled by default in dev and prod
  .env.development
  next.config.js
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktige.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/OpplysningerRiktigeSection.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerInfo.module.css
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerInfo.tsx
  src/components/SendSykmelding/FormSections/shared/QuestionWrapper.module.css
  src/components/SendSykmelding/FormSections/shared/QuestionWrapper.tsx
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/components/SendSykmelding/FormSections/shared/sykmeldingUtils.ts
  src/components/SendSykmelding/SendSykmeldingForm.module.css
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/feature-tests/frilanser.test.tsx
  src/fetching/graphql.generated.ts
  src/fetching/submit.graphql
  src/hooks/useMutations.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
  src/server/sendSykmeldingMapping.ts
  src/server/sykmeldingerService.ts
  src/utils/env.ts
  src/utils/sporsmolOgSvar.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

various a11y fixes according to Arc Toolkit
  .github/workflows/labs-delete.yaml
  .github/workflows/workflow.yaml
  nais-labs.yaml
  package.json
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/LenkepanelIcon.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.tsx
  src/components/SykmeldingViews/SykmeldingView/FlereOpplysninger.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldtHeading/SykmeldtHeading.tsx
  src/components/SykmeldingViews/SykmeldingView/Svg/SladdSvg.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/components/Veileder/svg/VeilederMaleSvg.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

La widgeten under veileder i sykmeldingen
  src/components/UxSignals/UxSignalsWidget.module.css
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

La widgeten under veileder i sykmeldingen (#260)
  src/components/UxSignals/UxSignalsWidget.module.css
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Små endringer i testmiljø
  src/components/SykmeldingViews/OK/APEN/Form/Form.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/EgenmeldingsperioderForKortePerioderOgSånt.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.tsx
  src/components/SykmeldingViews/OK/APEN/Form/layout/QuestionWrapper.module.css
  src/feature-tests/arbeidstaker.test.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use nav CDN instead of hjemmesnekra CDN
  .github/workflows/workflow.yaml
  nais-dev-gcp.yaml
  nais-prod.yaml
Due: yarn prettier --write

🤫
  .github/workflows/workflow.yaml
Due: yarn prettier --write

[skip ci] fix labs deploy
  .github/workflows/workflow.yaml
Due: yarn prettier --write

bump @navikt/next-logger
  package.json
  yarn.lock
Due: yarn prettier --write

bump @navikt/next-logger (again)
  package.json
  yarn.lock
Due: yarn prettier --write

refetch sykmeldinger and sykmelding on focus
  src/hooks/useFocusRefetch.ts
  src/hooks/useWindowFocus.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/index.page.tsx
  src/style/global.css
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

[skip ci] fix labs-delete.yml
  .github/workflows/labs-delete.yaml
Due: yarn prettier --write

Fixed text typos
  src/server/flexService.ts
  src/server/sykmeldingerService.ts
Due: yarn eslint --fix --max-warnings=0

Updated README.md
  README.md
Due: yarn prettier --write

Added in verifying local commands
  README.md
Due: yarn prettier --write

oppdatert uxsignals-widget
  src/components/UxSignals/UxSignalsWidget.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
