Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

use node 18 in workflow
  .github/workflows/workflow.yaml
Due: yarn prettier --write

increase timeout of a test in selvstendigNaringsdrivende.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
Due: yarn eslint --fix --max-warnings=0

Revert "code split amplitude (#321)"
  src/amplitude/amplitude.tsx
  src/pages/_app.page.tsx
Due: yarn eslint --fix --max-warnings=0

add warning logging to amplitude to debug errors
  src/amplitude/amplitude.tsx
Due: yarn eslint --fix --max-warnings=0

remove later periods on edit
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
Due: yarn eslint --fix --max-warnings=0

remove later periods on edit (#323)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
Due: yarn eslint --fix --max-warnings=0

send egenmeldingsdager
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/send-sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

send egenmeldingsdager (#324)
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/send-sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

upgrade dependencies
  package.json
  src/fetching/graphql.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

upgrade dependencies (#326)
  package.json
  src/fetching/graphql.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add egenmeldingsdager to send sykmelding
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarbruktEgenmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/permittert.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/hooks/useMutations.ts
  src/server/graphql/mockData/egenmeldingMock.ts
  src/utils/periodeUtils.ts
Due: yarn eslint --fix --max-warnings=0

display egenmelding in dev
  nais-dev-gcp.yaml
Due: yarn prettier --write

map sporsmal og svar egenmeldingsdager
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarbruktEgenmelding.tsx
  src/server/api-models/SendSykmelding.ts
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
  src/utils/sporsmal.ts
Due: yarn eslint --fix --max-warnings=0

add source map
  next.config.js
Due: none

add new shortname to zod schema
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding-status.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

show egenmeldingsdager for inactive
  jest.setup.js
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/permittert.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/hooks/useMutations.ts
Due: yarn eslint --fix --max-warnings=0

egenmeldingsdager in pdf
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/pdf/components/Perioder.tsx
  src/server/pdf/components/SykmeldingPdf.tsx
Due: yarn eslint --fix --max-warnings=0

remove mock egenmeldingsdager
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/server/graphql/mockData/egenmeldingMock.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/utils/egenmeldingsperioderAnsattUtils.ts
  src/utils/periodeUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

renaming egenmeldingsperiode to egenmeldingsdager
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/utils/egenmeldingsdagerUtils.test.ts
  src/utils/egenmeldingsdagerUtils.ts
Due: yarn eslint --fix --max-warnings=0

typed sporsmalOgSvar more strongly
  src/components/StatusBanner/StatusBanner.test.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/objectResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/sykmelding-status.graphqls
  src/server/pdf/components/Perioder.tsx
  src/utils/egenmeldingsdagerUtils.ts
  src/utils/sykmeldingSortUtils.test.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

only lookback to sykmeldings with same arbeidsgiver
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
Due: yarn eslint --fix --max-warnings=0

use fragment-matcher in apollo cache
  codegen.ts
  package.json
  src/fetching/apollo.ts
  src/fetching/possible-types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

stop flashing when navigating between pages
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

fix YES/NO JA/NEI bug
  src/server/api-models/SendSykmelding.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/sendSykmeldingMapping.ts
Due: yarn eslint --fix --max-warnings=0

fix bug with null narmesteleder on egenmeldingsdager-question
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/feature-tests/arbeidstaker.test.tsx
Due: yarn eslint --fix --max-warnings=0

allow sykmeldinger with same dates to not ask for egenmeldingsdager
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
Due: yarn eslint --fix --max-warnings=0

handle date lookback to BEKREFTET INVALID sykmeldinger
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

filter sendtSykmeldinger on selected orgnr
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/hooks/useFindPrevSykmeldingTom.ts
Due: yarn eslint --fix --max-warnings=0

add amplitude for egenmeldingsdager
  src/amplitude/amplitude.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarBruktEgenmelding.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/hooks/useMutations.ts
Due: yarn eslint --fix --max-warnings=0

hide egenmelding in dev
  nais-dev-gcp.yaml
Due: yarn prettier --write

set egenmeldingsdager as completed
  package.json
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarBruktEgenmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/utils/egenmeldingsdagerUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix frilanser egenmeldingspørsmål causing mobile to jump around
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingPeriodSubField.tsx
Due: yarn eslint --fix --max-warnings=0

fix weird spacing in mottatt sykmelding 'chat'-veileder on mobile
  src/components/InformationBanner/InformationBanner.module.css
  src/components/InformationBanner/InformationBanner.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test display of existing periods on endre egenmeldingsdager page
  src/components/FormComponents/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
