Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

move bekreftAvvist, papirSykmelding and general to playwright
  e2e/arbeidstaker.spec.tsx
  e2e/avbrytSykmelding.spec.tsx
  e2e/bekreftAvvist.spec.tsx
  e2e/bekreftetSykmelding.spec.tsx
  e2e/custom-matchers-globals.d.ts
  e2e/custom-matchers.ts
  e2e/general.spec.tsx
  e2e/papirSykmelding.spec.tsx
  e2e/test-utils.ts
  e2e/user-actions.ts
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/molecules/sykmelding/SykmeldingGroup.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/general.test.tsx
  src/feature-tests/papirSykmelding.test.tsx
  src/utils/stringUtils.ts
Due: yarn eslint --fix --max-warnings=0

make papirsykmelding.spec.tsx more robust
  e2e/papirsykmelding.spec.tsx
Due: yarn eslint --fix --max-warnings=0

disable animations for bekreftAvvist tests
  e2e/bekreftAvvist.spec.tsx
Due: yarn eslint --fix --max-warnings=0

fix weird placement of edit egenmeldingsdager-buttonlink
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/RedigerEgenmeldingsdagerLink.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
Due: yarn eslint --fix --max-warnings=0

show user answers on kvittering/sendt page
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingDineSvar.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/index.ts
  src/server/graphql/mock-db/scenarios.ts
  src/utils/dateUtils.ts
Due: yarn eslint --fix --max-warnings=0

bulk-bump
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: yarn prettier --write

run dependabot on sundays
  .github/dependabot.yml
Due: none

endret tekst for flexjar
  src/components/Feedback/Feedback.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

endret tekst for flexjar (#472)
  src/components/Feedback/Feedback.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

ignore sykmelding inside given sykmelding
  next-env.d.ts
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/RedigerEgenmeldingsdagerLink.tsx
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
Due: yarn eslint --fix --max-warnings=0

log with requestId in error boundary
  src/components/ErrorBoundary/ErrorBoundary.tsx
Due: yarn eslint --fix --max-warnings=0

error boundary hekkan
  src/components/ErrorBoundary/ErrorBoundary.tsx
Due: yarn eslint --fix --max-warnings=0

fix date comparison issue where avvist sykmeldings was not ignored
  next-env.d.ts
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
Due: yarn eslint --fix --max-warnings=0

bump dependencies
  next-env.d.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove hotjar
  next.config.js
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/hooks/useHotjarTrigger.ts
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: yarn 4 and node 20
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --write

add amplitude to flexjar events
  src/components/Feedback/Feedback.tsx
Due: yarn eslint --fix --max-warnings=0

handle old broken SENDT sykmeldinger with invalid date range
  src/hooks/useFindPrevSykmeldingTom.ts
Due: yarn eslint --fix --max-warnings=0

fix egenmeldingsdager and RHF state
  src/components/EndreEgenmelding/egenmeldingsdagerFormUtils.ts
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/components/FormComponents/YesNoField/YesNoField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverRiktigNarmesteLederField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingPeriodSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarBruktEgenmeldingField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarForsikringField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktigeField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/hooks/useMutations.ts
  src/utils/egenmeldingsdagerUtils.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

fix text if egenmeldingsdager only have one day
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
Due: yarn eslint --fix --max-warnings=0

update docker image for playwright
  .github/workflows/deploy.yaml
Due: none

fix: misc form state weirdness
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserEgenmeldingPeriodSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserEgenmeldingPerioderField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserEgenmeldingPerioderField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarBruktEgenmeldingsPerioderField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/hooks/useMutations.ts
  src/server/graphql/mock-db/MockDb.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
