Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

Update kvittering.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

la til uxsignals widget (#296)
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

remove old form
  src/components/SykmeldingViews/OK/APEN/AvbrytContext.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.module.css
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/FeiloppsummeringContainer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.module.css
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/UriktigeOpplysningerInfo.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ArbeidsgiverOrgnummer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Egenmeldingsperioder.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Egenmeldingsperioder.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ErOpplysningeneRiktige.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/HarBruktEgenmelding.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/HarForsikring.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/PeriodePicker.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/PeriodePicker.test.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/PeriodePicker.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/RiktigNarmesteLeder.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/UriktigeOpplysninger.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.tsx
  src/components/SykmeldingViews/OK/APEN/Form/layout/QuestionWrapper.module.css
  src/components/SykmeldingViews/OK/APEN/Form/layout/QuestionWrapper.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/permittert.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/hooks/useMutations.ts
  src/server/graphql/typedef/root.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

[skip ci] update dept.sh
  scripts/debt.sh
Due: none

add utenlandsk sykmelding to schema
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/Sykmelding.ts
  src/server/api-models/sykmelding/UtenlandskSykmelding.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add utenlandsk sykmelding to schema (#298)
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/Sykmelding.ts
  src/server/api-models/sykmelding/UtenlandskSykmelding.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add rulesetVersion to GQL schema
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/AnnenInfoView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.test.tsx
  src/fetching/graphql.generated.ts
  src/hooks/useBreadcrumbs.ts
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useFindOlderSykmeldingId.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/server/api-models/sykmelding/Sykmelding.test.ts
  src/server/api-models/sykmelding/Sykmelding.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/utils/sykmeldingSortUtils.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bruk rett ingress på ekstern lenke
  src/components/StatusInfo/StatusInfo.tsx
Due: yarn eslint --fix --max-warnings=0

map country from alpha3 code in zod
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingArbeidsgiverUtenlandsk/AnnenInfoView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingSykmeldtUtenlandsk/AnnenInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/server/api-models/sykmelding/UtenlandsSykmelding.test.ts
  src/server/api-models/sykmelding/UtenlandskSykmelding.ts
  src/server/api-models/sykmelding/countries-norwegian.json
  src/utils/sykmeldingUtils.test.ts
  src/utils/test/dataUtils.ts
  src/utils/utenlanskUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add Utenlandsk sykmelding title to overview
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

add utenlandsk sykmelding
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingArbeidsgiverUtenlandsk/AnnenInfoView.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingArbeidsgiverUtenlandsk/AnnenInfoView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingSykmeldtUtenlandsk/AnnenInfo.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingSykmeldtUtenlandsk/AnnenInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/feature-tests/papirSykmelding.test.tsx
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/pdf/components/AnnenInfo.tsx
  src/server/pdf/components/SykmeldingPdf.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add amplitude event for sykmelding page
  src/amplitude/taxonomyEvents.ts
  src/pages/[sykmeldingId]/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

fix bug with amplitude logging when using extra data
  src/amplitude/amplitude.tsx
Due: yarn eslint --fix --max-warnings=0

bump minors
  package.json
  src/hooks/useHotjarTrigger.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate to apollo 4
  package.json
  src/auth/withAuthentication.ts
  src/pages/api/graphql.api.ts
  src/server/flexService.ts
  src/server/sykmeldingerService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

seperate hotjar trigger for utenlansk sykmelding
  src/hooks/useHotjarTrigger.ts
  src/hooks/useSykmeldingById.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

use new texts when rulesetVersion is 3
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/AnnenInfoView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MedisinskTilstand.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MedisinskTilstand.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Prognose.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Prognose.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/feature-tests/frilanser.test.tsx
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/hooks/useMutations.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/utils/periodeUtils.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix RHF mounting error (bug in lib)
  package.json
  yarn.lock
Due: yarn prettier --write

remove unused properties in Sykmelding
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/Sykmelding.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove "newForm: true" from amplitude metadata
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverRiktigNarmesteLederField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarBruktEgenmeldingField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarForsikringField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktigeField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

make utils for creating more natural feature tests
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/utils/test/customQueries.ts
  src/utils/test/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

make rest of feature tests more idiomatic
  jest.setup.js
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/shared/FormStructure.tsx
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/papirSykmelding.test.tsx
  src/feature-tests/permittert.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
  src/hooks/useSykmeldingById.ts
  src/hooks/useSykmeldinger.ts
  src/utils/test/customQueries.ts
  src/utils/test/dataUtils.ts
  src/utils/test/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

make frilanser tests more idiomatic
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/utils/test/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

add jest-axe, add to feature-tests
  jest.setup.js
  package.json
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Svg/SladdSvg.tsx
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/general.test.tsx
  src/feature-tests/papirSykmelding.test.tsx
  src/feature-tests/permittert.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
  src/utils/test/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add jest-axe, add to feature-tests (#308)
  jest.setup.js
  package.json
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Svg/SladdSvg.tsx
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/general.test.tsx
  src/feature-tests/papirSykmelding.test.tsx
  src/feature-tests/permittert.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
  src/utils/test/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
