Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: setning manglet 'er'
  src/components/InformationBanner/ForklaringUnder20Prosent.tsx
Due: yarn eslint --fix --max-warnings=0

chore: reduce noise in tests (apollo) [skip ci]
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Felles/SykmeldingenGjelder.test.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Nasjonal/AnnenInfo.test.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/SykmeldingArbeidsgiver.test.tsx
  src/utils/pasientUtils.test.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/test/dataUtils.ts
Due: yarn eslint --fix --max-warnings=0

chore: setning manglet 'er' (#540)
  src/components/InformationBanner/ForklaringUnder20Prosent.tsx
Due: yarn eslint --fix --max-warnings=0

test: fix e2e tests
  e2e/egenmeldingsdager.spec.tsx
Due: yarn eslint --fix --max-warnings=0

test: fix e2e tests (#541)
  e2e/egenmeldingsdager.spec.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add scenario to demo data for over 70 yrs
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

feat: clarify text for sykmelding below 20%
  src/components/InformationBanner/ForklaringUnder20Prosent.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add info text
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Nasjonal/AktivitetIkkeMulig.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/AktivitetIkkeMulig.test.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/AktivitetIkkeMulig.tsx
  src/components/molecules/sykmelding/SykmeldingInfo.tsx
Due: yarn eslint --fix --max-warnings=0

chore: style italic text with html instead of css
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/MedisinskTilstand.tsx
Due: yarn eslint --fix --max-warnings=0

feat: limit the number of egenmeldingsdager we ask of users to 16
  e2e/egenmeldingsdager.spec.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/FormComponents/Egenmelding/egenmeldingsdagerFieldUtils.test.ts
  src/components/FormComponents/Egenmelding/egenmeldingsdagerFieldUtils.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/SendesTilArbeidsgiver/SendesTilArbeidsgiverInfo.tsx
  src/server/graphql/mock-db/scenarios.ts
  src/utils/egenmeldingsdagerUtils.ts
Due: yarn eslint --fix --max-warnings=0

feat: limit the number of egenmeldingsdager we ask of users to 16 (#542)
  e2e/egenmeldingsdager.spec.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/FormComponents/Egenmelding/egenmeldingsdagerFieldUtils.test.ts
  src/components/FormComponents/Egenmelding/egenmeldingsdagerFieldUtils.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/SendesTilArbeidsgiver/SendesTilArbeidsgiverInfo.tsx
  src/server/graphql/mock-db/scenarios.ts
  src/utils/egenmeldingsdagerUtils.ts
Due: yarn eslint --fix --max-warnings=0

fix: padding on 'Dine svar' in sykmelding form
  src/components/Sykmelding/SykmeldingerArbeidsgiver/SykmeldingArbeidsgiverExpansionCard.tsx
Due: yarn eslint --fix --max-warnings=0

bump dependencies
  package.json
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/utils/test/dataUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: force bump ip@2.0.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix ip vuln
  yarn.lock
Due: none

fix: tweak positioning and spacing of send sykmelding buttons
  e2e/avbrytSykmelding.spec.tsx
  e2e/papirsykmelding.spec.tsx
  e2e/test-utils.ts
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldt.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
Due: yarn eslint --fix --max-warnings=0

fix: tweak positioning and spacing of send sykmelding buttons (#547)
  e2e/avbrytSykmelding.spec.tsx
  e2e/papirsykmelding.spec.tsx
  e2e/test-utils.ts
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldt.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
Due: yarn eslint --fix --max-warnings=0

chore: try out oasis
  package.json
  src/auth/withAuthentication.ts
  src/server/flexService.ts
  src/server/sykmeldingerService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use @navikt/oasis (#548)
  package.json
  src/auth/withAuthentication.ts
  src/server/flexService.ts
  src/server/sykmeldingerService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix logging for API requests
  src/auth/withAuthentication.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt/oasis
  package.json
  src/server/sykmeldingerService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: defer fetching ventetid from flex.syketilfelle untill we need to
  src/components/DevTools/dev-tools.graphql
  src/components/DevTools/index.tsx
  src/components/FormComponents/DevTools/AutoFillerDevTools.tsx
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/FiskerArbeidstakerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSelvstendig/FiskerSelvstendigSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/hooks/useExtraFormData.ts
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/index.ts
  src/server/sendSykmeldingMapping.ts
  src/utils/test/mockUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: update egenmeldingsdager info
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add merknad type delvis godkjent
  src/components/InformationBanner/InformationBanner.tsx
  src/components/InformationBanner/InformationBannerSendt.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/fetching/graphql.generated.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add avvist tilbakedatering info
  src/components/InformationBanner/InformationBannerSendt.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove merknad tilbakedatert papirsykmelding
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Revert "chore: remove merknad tilbakedatert papirsykmelding"
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: allow users to tell us why they chose annet
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: allow users to tell us why they chose annet (#554)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: tell annet → lærling that they are in fact, normal ansatte
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add pensjonist to options for annet-specification
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
