Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,yml,yaml}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

remove old api proxies
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/flex-proxy/mock/flexMock.ts
  src/pages/api/proxy/[...path].api.ts
  src/pages/api/proxy/mock/mock.ts
  src/server/proxyUtils.ts
Due: yarn eslint --fix --max-warnings=0

don't log expired sessions as errors
  src/auth/withAuthentication.ts
  src/fetching/apollo.ts
  src/pages/api/graphql.api.ts
Due: yarn eslint --fix --max-warnings=0

handle expired fetch calls to backend
  src/server/sykmeldingerService.ts
Due: yarn eslint --fix --max-warnings=0

remove old api proxies (#223)
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/flex-proxy/mock/flexMock.ts
  src/pages/api/proxy/[...path].api.ts
  src/pages/api/proxy/mock/mock.ts
  src/server/proxyUtils.ts
Due: yarn eslint --fix --max-warnings=0

use amplitude for higher level user activities
  package.json
  src/amplitude/AmplitudeInstance.ts
  src/amplitude/amplitude.tsx
  src/amplitude/taxonomyEvents.ts
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ErOpplysningeneRiktige.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/hooks/useMutations.ts
  src/pages/_app.page.tsx
  src/utils/amplitudeInstance.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use amplitude for higher level user activities (#224)
  package.json
  src/amplitude/AmplitudeInstance.ts
  src/amplitude/amplitude.tsx
  src/amplitude/taxonomyEvents.ts
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ErOpplysningeneRiktige.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/hooks/useMutations.ts
  src/pages/_app.page.tsx
  src/utils/amplitudeInstance.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

show fnr
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/SykmeldingenGjelder.tsx
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

text fix
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AnnenInfo.tsx
Due: yarn eslint --fix --max-warnings=0

display invalid sykmeldt status on print
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldingStatusPrint/SykmeldingStatusPrint.module.css
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldingStatusPrint/SykmeldingStatusPrint.tsx
  src/style/global.css
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Fix/corrections sykmedling view and print (#227)
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldingStatusPrint/SykmeldingStatusPrint.module.css
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldingStatusPrint/SykmeldingStatusPrint.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AnnenInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/SykmeldingenGjelder.tsx
  src/style/global.css
  src/utils/sykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

force users to send sykmeldinger in order
  src/amplitude/taxonomyEvents.ts
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/ErrorFallback/ErrorFallback.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.module.css
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.module.css
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/hooks/useFindOlderSykmeldingId.ts
  src/pages/404.page.tsx
  src/pages/[sykmeldingId]/__test__/bekreftAvvist.test.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockResolvers.ts
  src/utils/SykmeldingSorter.ts
  src/utils/stringUtils.test.ts
  src/utils/stringUtils.ts
  src/utils/sykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

force users to send sykmeldinger in order (#228)
  src/amplitude/taxonomyEvents.ts
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/ErrorFallback/ErrorFallback.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.module.css
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.module.css
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/hooks/useFindOlderSykmeldingId.ts
  src/pages/404.page.tsx
  src/pages/[sykmeldingId]/__test__/bekreftAvvist.test.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockResolvers.ts
  src/utils/SykmeldingSorter.ts
  src/utils/stringUtils.test.ts
  src/utils/stringUtils.ts
  src/utils/sykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

more amplitude logging for forced order
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

fix amplitude logging when no more sykmeldings
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

bump deps, replace nav-frontend-alert
  package.json
  src/components/Spinner/Spinner.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/UriktigeOpplysningerInfo.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ArbeidsgiverOrgnummer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/RiktigNarmesteLeder.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/UriktigeOpplysninger.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/index.page.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix validation error when sykmeldingopplysninger is wrong
  src/components/SykmeldingViews/OK/APEN/Form/FeiloppsummeringContainer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/UriktigeOpplysninger.tsx
Due: yarn eslint --fix --max-warnings=0

fix validation error when sykmeldingopplysninger is wrong (#231)
  src/components/SykmeldingViews/OK/APEN/Form/FeiloppsummeringContainer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/UriktigeOpplysninger.tsx
Due: yarn eslint --fix --max-warnings=0

bump deps, replace nav-frontend-alert (#230)
  package.json
  src/components/Spinner/Spinner.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/UriktigeOpplysningerInfo.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ArbeidsgiverOrgnummer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/RiktigNarmesteLeder.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/UriktigeOpplysninger.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/index.page.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

split arbeidsledig and permittert
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/pages/[sykmeldingId]/__test__/arbeidsledig.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidstaker.test.tsx
  src/pages/[sykmeldingId]/__test__/frilanser.test.tsx
  src/pages/[sykmeldingId]/__test__/permittert.test.tsx
  src/pages/[sykmeldingId]/__test__/selvstendigNaringsdrivende.test.tsx
Due: yarn eslint --fix --max-warnings=0

add amplitude to arbeidssituasjon
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
Due: yarn eslint --fix --max-warnings=0

split arbeidsledig and permittert (#229)
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/pages/[sykmeldingId]/__test__/arbeidsledig.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidstaker.test.tsx
  src/pages/[sykmeldingId]/__test__/frilanser.test.tsx
  src/pages/[sykmeldingId]/__test__/permittert.test.tsx
  src/pages/[sykmeldingId]/__test__/selvstendigNaringsdrivende.test.tsx
Due: yarn eslint --fix --max-warnings=0

upgrade RHF from 6 to 7
  package.json
  src/components/Ekspanderbar/Ekspanderbar.module.css
  src/components/Ekspanderbar/Ekspanderbar.tsx
  src/components/Lukknapp/Lukknapp.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/FeiloppsummeringContainer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ArbeidsgiverOrgnummer.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Egenmeldingsperioder.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ErOpplysningeneRiktige.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/HarBruktEgenmelding.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/HarForsikring.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/RiktigNarmesteLeder.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/UriktigeOpplysninger.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingsopplysningerContainer.tsx
  src/components/TilHovedsiden/TilHovedsiden.module.css
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/pages/[sykmeldingId]/__test__/bekreftAvvist.test.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove nav-frontend-lenke
  package.json
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/pages/index.page.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove nav-frontend-ekspanderbartpanel
  package.json
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/pages/index.page.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove nav-frontend-typografi
  package.json
  src/components/AvvistVeileder/ForklaringZDiagnose.tsx
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Header/Header.tsx
  src/components/IconButton/IconButton.module.css
  src/components/IconButton/IconButton.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Egenmeldingsperioder.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/pages/[sykmeldingId]/__test__/uriktigeOpplysninger.test.tsx
  src/pages/index.page.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove strip-less
  package.json
  scripts/debt.sh
  scripts/strip-less
Due: yarn prettier --write

remove nav-frontend-knapp
  package.json
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove nav-frontend-veileder
  package.json
  src/components/InformationBanner/Bubble.module.css
  src/components/InformationBanner/Bubble.tsx
  src/components/InformationBanner/InformationBanner.module.css
  src/components/InformationBanner/InformationBanner.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.tsx
  src/components/Veileder/svg/VeilederFemaleSvg.tsx
  src/components/Veileder/svg/VeilederMaleNeutralSvg.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

small fixes after ds refactor
  package.json
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/HarBruktEgenmelding.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove rest of nav-frontend-* dependencies (#233)
  package.json
  scripts/debt.sh
  scripts/strip-less
  src/components/AvvistVeileder/ForklaringZDiagnose.tsx
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Header/Header.tsx
  src/components/IconButton/IconButton.module.css
  src/components/IconButton/IconButton.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/InformationBanner/Bubble.module.css
  src/components/InformationBanner/Bubble.tsx
  src/components/InformationBanner/InformationBanner.module.css
  src/components/InformationBanner/InformationBanner.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.module.css
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Egenmeldingsperioder.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/HarBruktEgenmelding.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/components/Veileder/svg/VeilederFemaleSvg.tsx
  src/components/Veileder/svg/VeilederMaleNeutralSvg.tsx
  src/pages/[sykmeldingId]/__test__/uriktigeOpplysninger.test.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/index.page.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

clean up package.json
  package.json
  yarn.lock
Due: yarn prettier --write
