Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,yml,yaml}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

Update labs-gcp to dev-gcp for sykefravaer
  .env.development
  nais-dev-demo.yaml
Due: yarn prettier --write

use demo.extern ingress
  .env.development
  .github/workflows/workflow.yaml
Due: yarn prettier --write

try to fix marking demo apps as deleteable
  .github/workflows/dev-demo-delete.yaml
Due: yarn prettier --write

fix broken demo branch state update
  .github/workflows/dev-demo-delete.yaml
Due: yarn prettier --write

split build and tests in two jobs
  .github/workflows/dev-demo-delete.yaml
  .github/workflows/workflow.yaml
Due: yarn prettier --write

reset hasClickedVidere when dates are being chosen
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
Due: yarn eslint --fix --max-warnings=0

dont add period when egenmelding has not been sent
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.test.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
Due: yarn eslint --fix --max-warnings=0

add egenmelding tekst to updateEgenmeldingsdager
  src/server/sykmeldingerService.ts
Due: yarn eslint --fix --max-warnings=0

bump react-hook-form and devtools
  package.json
  yarn.lock
Due: yarn prettier --write

remove disabling of egenmelding question
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/components/FormComponents/YesNoField/YesNoField.tsx
Due: yarn eslint --fix --max-warnings=0

add unsaved warning popup beforeunload
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/hooks/useWarnUnsaved.ts
Due: yarn eslint --fix --max-warnings=0

bump deps
  package.json
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump dependabot warnings within range
  yarn.lock
Due: none

add amplitude to egenmeldingsdager
  src/amplitude/taxonomyEvents.ts
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/RedigerEgenmeldingsdagerLink.tsx
Due: yarn eslint --fix --max-warnings=0

Added in serval hosts due to egress policy(default-deny)
  nais-dev-demo.yaml
  nais-dev-gcp.yaml
  nais-prod.yaml
Due: yarn prettier --write

Added in serval hosts due to egress policy(default-deny) (#349)
  nais-dev-demo.yaml
  nais-dev-gcp.yaml
  nais-prod.yaml
Due: yarn prettier --write

add status code to http error logging if exists
  src/fetching/apollo.ts
Due: yarn eslint --fix --max-warnings=0

clean up error message for weird network errors
  src/fetching/apollo.ts
Due: yarn eslint --fix --max-warnings=0

Endret på veiledertekst når endre egenmeldingsdager
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
Due: yarn eslint --fix --max-warnings=0

extract workflows to reusable workflows
  .github/workflows/deploy-next-demo.yaml
  .github/workflows/deploy-next.yaml
  .github/workflows/workflow.yaml
  .gitignore
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: yarn prettier --write

use reusable workflows
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
  .github/workflows/dev-demo-delete.yaml
  .github/workflows/workflow.yaml
  .gitignore
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: yarn prettier --write

use reusable workflows (#352)
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
  .github/workflows/dev-demo-delete.yaml
  .github/workflows/workflow.yaml
  .gitignore
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: yarn prettier --write

fix demo delete branch workflow
  .github/workflows/demo-delete.yaml
Due: yarn prettier --write

use NEXT_PUBLIC_ envs per build instead of hacky dynamic solution
  .env.production
  .env.test
  .gitignore
  Dockerfile
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/amplitude/amplitude.tsx
  src/auth/withAuthentication.ts
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/fetching/apollo.ts
  src/hooks/useBreadcrumbs.ts
  src/hooks/useHotjarTrigger.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/api/public-env.api.ts
  src/utils/env.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use NEXT_PUBLIC_ envs per build instead of hacky dynamic solution (#353)
  .env.production
  .env.test
  .gitignore
  Dockerfile
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/amplitude/amplitude.tsx
  src/auth/withAuthentication.ts
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/fetching/apollo.ts
  src/hooks/useBreadcrumbs.ts
  src/hooks/useHotjarTrigger.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/api/public-env.api.ts
  src/utils/env.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
