Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: 1/3, remove usage of strengtFortrolingAdresse in client
  e2e/arbeidstaker.spec.tsx
  e2e/user-actions.ts
  src/auth/mock-context.ts
  src/components/DevTools/dev-tools.graphql
  src/components/DevTools/index.tsx
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mockResolvers.ts
  src/server/sendSykmeldingMapping.test.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: 2/3, remove usage of strengtFortrolingAdresse in server
  src/feature-tests/mockUtils.ts
  src/fetching/graphql.generated.ts
  src/server/api-models/Brukerinformasjon.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/brukerinformasjon.graphqls
  src/server/graphql/typedef/root.graphqls
  src/server/sendSykmeldingMapping.test.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use @main for workflows now that node 20 is default [skip ci]
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
Due: none

chore: bump dependencies
  package.json
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.test.tsx
  src/feature-tests/egenmeldingsdager.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  tsconfig.json
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: migrate frilanser feature tests to playwright
  .github/workflows/deploy.yaml
  e2e/arbeidstaker.spec.tsx
  e2e/frilanser.spec.tsx
  e2e/user-actions.ts
  src/auth/mock-context.ts
  src/feature-tests/frilanser.test.tsx
  src/server/graphql/mock-db/MockDb.ts
Due: yarn eslint --fix --max-warnings=0

chore: upgrade deps
  package.json
  yarn.lock
Due: yarn prettier --write

test: e2e fiskere flow
  e2e/fiskere.spec.tsx
  e2e/user-actions.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
Due: yarn eslint --fix --max-warnings=0

hide fiskere behind toggle
  e2e/papirsykmelding.spec.tsx
  playwright.config.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/server/pdf/components/AnnenInfo.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove fiskere toggle
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: add fiskere as option in arbeidssituasjon, with corresponding fiskere questions
  src/components/FormComponents/FormStructure.tsx
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/BladField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/FiskerArbeidstakerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSelvstendig/FiskerSelvstendigSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/LottOgHyreField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/fetching/graphql.generated.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/send-sykmelding.graphqls
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/sporsmal.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: migrate selvstending næringsdrivende tests to playwright
  e2e/frilanser.spec.tsx
  e2e/selvstendigNaringsdrivende.spec.tsx
  e2e/user-actions.ts
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
Due: yarn eslint --fix --max-warnings=0

chore: migrate selvstending næringsdrivende tests to playwright (#509)
  e2e/frilanser.spec.tsx
  e2e/selvstendigNaringsdrivende.spec.tsx
  e2e/user-actions.ts
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
Due: yarn eslint --fix --max-warnings=0

chore: migrate uriktige opplysninger and ugyldig tilbakedatering to playwright
  e2e/ugyldigTilbakedatering.spec.tsx
  e2e/uriktigeOpplysninger.spec.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

chore: migrate uriktige opplysninger and ugyldig tilbakedatering to playwright (#510)
  e2e/ugyldigTilbakedatering.spec.tsx
  e2e/uriktigeOpplysninger.spec.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

chore: rewrite the last of feature tests to playwright
  e2e/arbeidstaker.spec.tsx
  e2e/egenmeldingsdager.spec.tsx
  src/feature-tests/.eslintrc
  src/feature-tests/egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  src/server/graphql/mock-db/scenarios.test.ts
  src/server/graphql/mock-db/scenarios.ts
  src/utils/test/mockUtils.ts
Due: yarn eslint --fix --max-warnings=0

chore: rewrite the last of feature tests to playwright (#511)
  e2e/arbeidstaker.spec.tsx
  e2e/egenmeldingsdager.spec.tsx
  src/feature-tests/.eslintrc
  src/feature-tests/egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  src/server/graphql/mock-db/scenarios.test.ts
  src/server/graphql/mock-db/scenarios.ts
  src/utils/test/mockUtils.ts
Due: yarn eslint --fix --max-warnings=0

chore: shard playwright test running
  .github/workflows/deploy.yaml
  e2e/proxy.mjs
  next.config.js
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: shard playwright test running (#513)
  .github/workflows/deploy.yaml
  e2e/proxy.mjs
  next.config.js
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: tweak logging in sykmeldingerService.ts
  src/server/sykmeldingerService.ts
Due: yarn eslint --fix --max-warnings=0

remove avventende period for prev sykmelding
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

fix: handle date being n-1 month in e2e tests
  e2e/egenmeldingsdager.spec.tsx
Due: yarn eslint --fix --max-warnings=0

fix: handle date being n-1 month in e2e tests (#515)
  e2e/egenmeldingsdager.spec.tsx
Due: yarn eslint --fix --max-warnings=0

remove avventende period for prev sykmelding (#514)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove unused 3-way-datafetching for sykmeldinger
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingerList/SykmeldingerListDynamic.tsx
  src/fetching/graphql.generated.ts
  src/fetching/minimal-sykmeldinger.graphql
  src/hooks/useFindOlderSykmeldingId.ts
  src/hooks/useFindPrevSykmeldingTom.ts
  src/hooks/useMutations.ts
  src/pages/index.page.tsx
  src/server/api-models/sykmelding/MinimalSykmelding.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/minimal-sykmelding.graphqls
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
  src/toggles/toggles.ts
  src/utils/sykmeldingSortUtils.ts
  src/utils/sykmeldingUtils.ts
  src/utils/utenlanskUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove unused 3-way-datafetching for sykmeldinger (#516)
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingerList/SykmeldingerListDynamic.tsx
  src/fetching/graphql.generated.ts
  src/fetching/minimal-sykmeldinger.graphql
  src/hooks/useFindOlderSykmeldingId.ts
  src/hooks/useFindPrevSykmeldingTom.ts
  src/hooks/useMutations.ts
  src/pages/index.page.tsx
  src/server/api-models/sykmelding/MinimalSykmelding.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/minimal-sykmelding.graphqls
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
  src/toggles/toggles.ts
  src/utils/sykmeldingSortUtils.ts
  src/utils/sykmeldingUtils.ts
  src/utils/utenlanskUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add pre-stop hook
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/pages/api/internal/pre_stop.api.ts
Due: yarn eslint --fix --max-warnings=0

chore: add pre-stop hook (#517)
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/pages/api/internal/pre_stop.api.ts
Due: yarn eslint --fix --max-warnings=0

fix: broken state when trying to avbryte bekreftet or already avbrutt sykmelding
  e2e/avbrytSykmelding.spec.tsx
  playwright.config.ts
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/pages/[sykmeldingId]/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add support for jordbruker (behaves like selvstending næringsdrivende)
  e2e/jordbruker.spec.tsx
  e2e/user-actions.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/fetching/graphql.generated.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/send-sykmelding.graphqls
  src/server/sendSykmeldingMapping.ts
  src/utils/arbeidssituasjonUtils.test.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/sporsmal.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove unused external accessPolicy (dev)
  nais/nais-dev.yaml
Due: none

feat: add support for jordbruker (behaves like selvstending næringsdrivende) (#519)
  e2e/jordbruker.spec.tsx
  e2e/user-actions.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/fetching/graphql.generated.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/send-sykmelding.graphqls
  src/server/sendSykmeldingMapping.ts
  src/utils/arbeidssituasjonUtils.test.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/sporsmal.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
