Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump deps
  package.json
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/FormComponents/YesNoField/YesNoField.tsx
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

[skip ci] bump yarn
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

change text for avvist sykmelding
  src/components/AvvistVeileder/AvvistVeileder.test.tsx
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringOverSytti.tsx
  src/components/AvvistVeileder/ForklaringZDiagnose.tsx
Due: yarn eslint --fix --max-warnings=0

bump dependencies
  package.json
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix dependabot vulnerabilities
  yarn.lock
Due: none

under 20 prosent
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringUnder20Prosent.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/server/graphql/mock-db/index.ts
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

under 20 prosent (endringer fra Karl)
  src/components/AvvistVeileder/AvvistVeileder.test.tsx
  src/server/graphql/mock-db/index.ts
Due: yarn eslint --fix --max-warnings=0

fjernet skriveleif
  src/components/AvvistVeileder/AvvistVeileder.tsx
Due: yarn eslint --fix --max-warnings=0

endret veilederpanel for under 20 prosent (m endringer fra Karl) (#398)
  src/components/AvvistVeileder/AvvistVeileder.test.tsx
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringUnder20Prosent.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

endret veiledertekst for kvittering
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
Due: yarn eslint --fix --max-warnings=0

endret veiledertekst for kvittering (#399)
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
Due: yarn eslint --fix --max-warnings=0

use recommended distroless
  Dockerfile
Due: none

implementer håvards hemmelige feedback engine bak feature toggle
  .env.development
  nais/envs/.env.demo
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/components/Feedback/Feedback.graphql
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/FeedbackReducer.tsx
  src/fetching/graphql.generated.ts
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/server/flexService.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/toggles/toggles.ts
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use same values as flex
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/FeedbackReducer.tsx
Due: yarn eslint --fix --max-warnings=0

fix missing text bug
  src/components/Feedback/Feedback.tsx
Due: yarn eslint --fix --max-warnings=0

add user segment
  package.json
  src/server/flexService.test.ts
  src/server/flexService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove snyk
  .snyk
Due: none

add permissions for workflows
  .github/workflows/deploy.yaml
Due: none

working poc of RSC on landing page under /new
  next-env.d.ts
  package.json
  scripts/safari12.sh
  src/app/_apollo.tsx
  src/app/_providers.tsx
  src/app/layout.page.tsx
  src/app/new/layout.page.tsx
  src/app/new/page.page.tsx
  src/auth/rscAuthentication.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.module.css
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/middleware.page.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/server/graphql/mockResolvers.ts
  src/server/sykmeldingerService.ts
  src/toggles/rsc.tsx
  src/toggles/ssr.tsx
  src/utils/breadcrumbs.test.ts
  src/utils/breadcrumbs.ts
  src/utils/sykmeldingFilterUtils.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add logging
  scripts/safari12.sh
  src/app/layout.page.tsx
  src/auth/rscAuthentication.tsx
Due: yarn eslint --fix --max-warnings=0

only load typedefs once
  src/app/_apollo.tsx
Due: yarn eslint --fix --max-warnings=0

poc a new page and more client stuff (breadcrumbs n stuff)
  src/app/_providers.tsx
  src/app/layout.page.tsx
  src/app/new/[sykmeldingId]/_sykmelding-root.tsx
  src/app/new/[sykmeldingId]/page.page.tsx
  src/app/new/_shared/page-header.tsx
  src/app/new/_sykmeldinger-root.tsx
  src/app/new/page.page.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/hooks/useBreadcrumbs.ts
  src/middleware.page.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.test.tsx
  src/server/graphql/mockResolvers.ts
  src/utils/breadcrumbs.test.ts
  src/utils/breadcrumbs.ts
Due: yarn eslint --fix --max-warnings=0

more aggressive decorator caching
  .yarn/patches/@navikt-nav-dekoratoren-server-component-npm-0.1.5-fbb5eab38b.patch
  .yarn/releases/yarn-3.6.0.cjs
  next.config.js
  package.json
  src/app/layout.page.tsx
  src/pages/_document.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

debug
  src/app/layout.page.tsx
  src/app/new/[sykmeldingId]/page.page.tsx
Due: yarn eslint --fix --max-warnings=0

tweak memory and remove cpu limits in dev
  nais/nais-dev.yaml
Due: none

fix rsc errors
  Dockerfile
  nais/nais-dev.yaml
  src/app/_apollo.tsx
  src/app/layout.page.tsx
  src/auth/rscAuthentication.tsx
Due: yarn eslint --fix --max-warnings=0

move new route behind feature toggle
  src/app/_apollo.tsx
  src/app/layout.page.tsx
  src/auth/rscAuthentication.tsx
  src/auth/user-context.ts
  src/middleware.page.ts
  src/toggles/context.tsx
  src/toggles/rsc.tsx
  src/toggles/ssr.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
Due: yarn eslint --fix --max-warnings=0

[skip ci] poc database access
  package.json
  src/app/new/_older-sykmeldinger.tsx
  src/app/new/_processing-sykmeldinger.tsx
  src/app/new/_unsent-sykmeldinger.tsx
  src/app/new/page.page.tsx
  src/auth/fakeLocalAuthTokenSet.json
  src/canary/components/aksel/client.ts
  src/canary/components/aksel/server.ts
  src/canary/components/sykmeldinger/sortable-sykmelding-section.tsx
  src/canary/components/sykmeldinger/sykmelding-link-panel.tsx
  src/canary/db.ts
  src/components/SykmeldingLinkPanel/Lenkepanel/LenkepanelIcon.tsx
  src/middleware.page.ts
  src/pages/_document.page.tsx
  src/server/graphql/mockResolvers.ts
  src/toggles/utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fetch sykmeldinger from v4 api
  src/app/new/_older-sykmeldinger.tsx
  src/app/new/_processing-sykmeldinger.tsx
  src/app/new/_unsent-sykmeldinger.tsx
  src/canary/db.ts
  src/server/sykmeldingerService.ts
Due: yarn eslint --fix --max-warnings=0

add error page for /new
  src/app/new/error.page.tsx
  src/middleware.page.ts
Due: yarn eslint --fix --max-warnings=0

tweak after rebase with main
  Dockerfile
  next.config.js
  package.json
  src/app/_apollo.tsx
  src/app/_providers.tsx
  src/app/layout.page.tsx
  src/app/new/_older-sykmeldinger.tsx
  src/app/new/_processing-sykmeldinger.tsx
  src/app/new/_unsent-sykmeldinger.tsx
  src/app/new/page.page.tsx
  src/auth/rsc-authentication.tsx
  src/auth/rsc-user-context.ts
  src/canary/components/sykmeldinger/sykmelding-link-panel.tsx
  src/canary/db.ts
  src/middleware.page.ts
  src/pages/index.test.tsx
  src/server/graphql/mockResolvers.ts
  src/toggles/rsc.tsx
  src/toggles/utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate to aksel v5 (and bump other stuff)
  package.json
  src/components/DevTools/index.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/RedigerEgenmeldingsdagerLink.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
