Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

oppdatert uxsignals-widget (#265)
  src/components/UxSignals/UxSignalsWidget.tsx
Due: yarn eslint --fix --max-warnings=0

Fixed text typos ++ (#264)
  README.md
  src/server/flexService.ts
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Add 'Hopp til hovedinnhold' skip link
  package.json
  src/pages/_app.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Update UxSignalsWidget.tsx
  src/components/UxSignals/UxSignalsWidget.tsx
Due: yarn eslint --fix --max-warnings=0

fjernet widget fra kvitteringsside
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

fjernet widget (#267)
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

la til ny widget for testing torsdag 23-11-2022
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

la til ny widget for testing torsdag 23-11-2022 (#268)
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

remove unused arbeidsforhold fields graphql
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove unused arbeidsforhold fields graphql (#271)
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix prod deploy
  .github/workflows/workflow.yaml
Due: yarn prettier --write

remove unused arbeidsforhold fields
  src/components/StatusBanner/StatusBanner.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/fetching/graphql.generated.ts
  src/server/api-models/Arbeidsgiver.ts
  src/server/api-models/sykmelding/ArbeidsgiverSykmelding.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mockData/arbeidsgivereMock.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/brukerinformasjon.graphqls
  src/server/graphql/typedef/sykmelding-status.graphqls
  src/server/graphql/typedef/sykmelding.graphqls
  src/utils/sykmeldingSortUtils.test.ts
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove unused arbeidsforhold fields (#269)
  src/components/StatusBanner/StatusBanner.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/fetching/graphql.generated.ts
  src/server/api-models/Arbeidsgiver.ts
  src/server/api-models/sykmelding/ArbeidsgiverSykmelding.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mockData/arbeidsgivereMock.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/brukerinformasjon.graphqls
  src/server/graphql/typedef/sykmelding-status.graphqls
  src/server/graphql/typedef/sykmelding.graphqls
  src/utils/sykmeldingSortUtils.test.ts
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump designsystem to 2.0.5 to fix border bug
  package.json
  yarn.lock
Due: yarn prettier --write

use new amplitude lib, remove sentry
  .github/workflows/workflow.yaml
  .gitignore
  Dockerfile
  nais-dev-gcp.yaml
  nais-prod.yaml
  next.config.js
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/amplitude/AmplitudeInstance.ts
  src/amplitude/amplitude.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktige.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ErOpplysningeneRiktige.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/pages/_app.page.tsx
  src/pages/_error.js
  src/pages/_error.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Revert "use new amplitude lib, remove sentry"
  .github/workflows/workflow.yaml
  .gitignore
  Dockerfile
  nais-dev-gcp.yaml
  nais-prod.yaml
  next.config.js
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/amplitude/AmplitudeInstance.ts
  src/amplitude/amplitude.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktige.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ErOpplysningeneRiktige.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/pages/_app.page.tsx
  src/pages/_error.js
  src/pages/_error.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

ny widget for rekruttering til torsdag
  src/components/UxSignals/UxSignalsWidget.tsx
Due: yarn eslint --fix --max-warnings=0

Revert "Revert "use new amplitude lib, remove sentry""
  .github/workflows/workflow.yaml
  .gitignore
  Dockerfile
  nais-dev-gcp.yaml
  nais-prod.yaml
  next.config.js
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/amplitude/AmplitudeInstance.ts
  src/amplitude/amplitude.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktige.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/ErOpplysningeneRiktige.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/pages/_app.page.tsx
  src/pages/_error.js
  src/pages/_error.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

ny widget for rekruttering til torsdag (#273)
  src/components/UxSignals/UxSignalsWidget.tsx
Due: yarn eslint --fix --max-warnings=0

use new ingestionMetadata in amplitude
  src/amplitude/amplitude.tsx
Due: yarn eslint --fix --max-warnings=0

hackily 'fix' publicRuntimeConfig bug
  src/pages/_document.page.tsx
  src/pages/api/public-env.api.ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

implement arbeidsgiver and nærmeste leder in new form
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidsgiverRiktigNarmesteLederField.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidsgiverRiktigNarmesteLederField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.module.css
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/fetching/apollo.ts
  src/server/graphql/mockResolvers.ts
  src/server/sendSykmeldingMapping.ts
  src/server/sykmeldingerService.ts
  src/utils/sporsmolOgSvar.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

update cdn-upload action
  .github/workflows/workflow.yaml
  nais-dev-gcp.yaml
Due: yarn prettier --write

allow re-opening of sykmeldinger without mutating
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/fetching/graphql.generated.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fjernet widget
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

allow re-opening of sykmeldinger without mutating (#278)
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/fetching/graphql.generated.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Update workflow.yaml
  .github/workflows/workflow.yaml
Due: yarn prettier --write

Revert "Update workflow.yaml"
  .github/workflows/workflow.yaml
Due: yarn prettier --write

new form: implement egenmeldingsperiode for frilanser
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidsgiverRiktigNarmesteLederField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingPeriodSubField.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingPeriodSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarBruktEgenmeldingField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktigeField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/OpplysningerRiktigeSection.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerField.tsx
  src/components/SendSykmelding/FormSections/shared/FormStructure.module.css
  src/components/SendSykmelding/FormSections/shared/FormStructure.tsx
  src/components/SendSykmelding/FormSections/shared/QuestionWrapper.tsx
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/hooks/useMutations.ts
  src/server/graphql/mockResolvers.ts
  src/server/sendSykmeldingMapping.ts
  src/server/sykmeldingerService.ts
  src/utils/sporsmolOgSvar.ts
  src/utils/sykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
