Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

feat: add dagpenger to options for annet-specification
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add dagpenger hint to change arbeidssituasjon
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add VTA to options for annet-specification
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add sanity check to build:e2e script to make sure dev server isn't running [skip ci]
  scripts/build-e2e.sh
Due: none

feat: add vikar to options for annet-specification and add vikar-hint
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add arbeidsgiver section
  e2e/arbeidsledig.spec.tsx
  e2e/user-actions.ts
  e2e/user-expects.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/hooks/useFindPrevSykmeldingTom.ts
  src/hooks/useFindRelevantArbeidsgivere.test.ts
  src/hooks/useFindRelevantArbeidsgivere.ts
  src/server/sendSykmeldingMapping.ts
  src/toggles/toggles.ts
  src/toggles/utils.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/sporsmal.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/testUtils.tsx
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

chore: add shebang so mac can build e2e
  scripts/build-e2e.sh
Due: none

add arbeidsledig to sendSykmelding and BrukerSvar
  e2e/arbeidsledig.spec.tsx
  e2e/user-expects.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/server/api-models/SendSykmelding.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
  src/utils/test/dataUtils.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update text hints for 'annet'
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

fix(test): awkward double date with same weekday name
  e2e/arbeidsledig.spec.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): skippertak-bump
  .github/workflows/deploy.yaml
  package.json
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/MeldingTilNav.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/Prognose.tsx
  src/server/graphql/mock-db/data-creators.ts
  src/server/pdf/components/Prognose.tsx
  src/utils/toSendSykmeldingUtils.test.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): skippertak-bump (#575)
  .github/workflows/deploy.yaml
  package.json
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/MeldingTilNav.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/Prognose.tsx
  src/server/graphql/mock-db/data-creators.ts
  src/server/pdf/components/Prognose.tsx
  src/utils/toSendSykmeldingUtils.test.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: support 'lott and hyre'-fiskere as arbeidstakere
  e2e/fiskere.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSection.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/index.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

feat: support 'lott and hyre'-fiskere as arbeidstakere (#574)
  e2e/fiskere.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSection.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/index.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove pod cpu limit
  nais/nais-prod.yaml
Due: none

chore: set max pods to 4
  nais/nais-prod.yaml
Due: none

feat: hint to people that hand type vikar that they are ansatt
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): smoll bump of minors
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump to aksel v6
  .lintstagedrc
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  codegen.ts
  package.json
  scripts/safari12.sh
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/utils/dateUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump to aksel v6 (#578)
  .lintstagedrc
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  codegen.ts
  package.json
  scripts/safari12.sh
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/utils/dateUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: reduce unleash toggles logging
  src/toggles/ssr.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump playwright
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump playwright (#579)
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: replace Link legacyBehavior with as={Link}
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/RedigerEgenmeldingsdagerLink.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
Due: yarn eslint --fix --max-warnings=0

chore: 6 shards for playwright
  .github/workflows/deploy.yaml
  scripts/debt.sh
Due: none

chore: add arbeidsledigFraOrgnummer field
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: optional arbeidsledig
  src/server/api-models/sykmelding/SykmeldingStatus.ts
Due: yarn eslint --fix --max-warnings=0

Revert "chore: optional arbeidsledig"
  src/server/api-models/sykmelding/SykmeldingStatus.ts
Due: yarn eslint --fix --max-warnings=0

Revert "chore: add arbeidsledigFraOrgnummer field"
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Reapply "chore: add arbeidsledigFraOrgnummer field"
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Reapply "chore: optional arbeidsledig"
  src/server/api-models/sykmelding/SykmeldingStatus.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove zod and mock
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
Due: yarn eslint --fix --max-warnings=0

chore: allow arbeidsledig to be undefined, but coerce to null so gql is happy
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/index.ts
Due: yarn eslint --fix --max-warnings=0

chore/add arbeidsledig fra orgnummer field (#582)
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/index.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add arbeidsgiver section for arbeidsledig
  e2e/arbeidsledig.spec.tsx
  e2e/user-actions.ts
  e2e/user-expects.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/hooks/useFindPrevSykmeldingTom.ts
  src/hooks/useFindRelevantArbeidsgivere.test.ts
  src/hooks/useFindRelevantArbeidsgivere.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
  src/toggles/toggles.ts
  src/toggles/utils.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/sporsmal.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/dataUtils.ts
  src/utils/test/testUtils.tsx
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
