Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove the last of dayjs usage
  jest.setup.js
  package.json
  scripts/debt.sh
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/pages/_app.page.tsx
  src/server/pdf/components/Perioder.tsx
  src/server/pdf/components/SykmeldingPdf.tsx
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
  src/utils/periodeUtils.test.ts
  src/utils/periodeUtils.ts
  src/utils/sykmeldingSortUtils.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/dataUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove the last of dayjs usage (#309)
  jest.setup.js
  package.json
  scripts/debt.sh
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/pages/_app.page.tsx
  src/server/pdf/components/Perioder.tsx
  src/server/pdf/components/SykmeldingPdf.tsx
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
  src/utils/periodeUtils.test.ts
  src/utils/periodeUtils.ts
  src/utils/sykmeldingSortUtils.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/dataUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

clean up old API after submit-refactor
  jest.setup.js
  src/fetching/graphql.generated.ts
  src/fetching/submit.graphql
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

clean up old API after submit-refactor (#310)
  jest.setup.js
  src/fetching/graphql.generated.ts
  src/fetching/submit.graphql
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use persisted queries, disallow rappid execution of mutation
  package.json
  src/fetching/apollo.ts
  src/hooks/useMutations.ts
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatus.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use persisted queries, disallow rappid execution of mutation (#311)
  package.json
  src/fetching/apollo.ts
  src/hooks/useMutations.ts
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatus.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump minor deps
  package.json
  yarn.lock
Due: yarn prettier --write

[skip ci]: fix codegen dep error
  package.json
  yarn.lock
Due: yarn prettier --write

bump react-ds
  package.json
  react-env.d.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump react-ds (#313)
  package.json
  react-env.d.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

limit dates user can select based on previous period input
  package.json
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingDatesPickerSubField.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerFieldRecursive.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarbruktEgenmelding.tsx
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

implement egenmeldings input for normal ansatt, behind feature toggle
  .env.development
  jest.setup.js
  next.config.js
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarbruktEgenmelding.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarbruktEgenmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/ValgtEgenmeldingsdager.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/hooks/useMutations.ts
  src/server/graphql/mockData/egenmeldingMock.ts
  src/utils/dateUtils.ts
  src/utils/env.ts
  src/utils/periodeUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

make RHF-devtools dynamically imported
  src/components/SendSykmelding/SendSykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

make currentPeriodDatePicker less mutaty
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
Due: yarn eslint --fix --max-warnings=0

fix 'hva sendes til arbeidsgiver' not showing for inactive AG
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/utils/periodeUtils.ts
Due: yarn eslint --fix --max-warnings=0

run tests without feature toggled on, feature toggle sections hook
  jest.setup.js
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/feature-tests/arbeidstaker.test.tsx
Due: yarn eslint --fix --max-warnings=0

count 16 days from earliest selected date
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
Due: yarn eslint --fix --max-warnings=0

Feat/egenmelding (#314)
  .env.development
  jest.setup.js
  next.config.js
  package.json
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingDatesPickerSubField.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerFieldRecursive.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarbruktEgenmelding.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/HarbruktEgenmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/ValgtEgenmeldingsdager.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SendSykmelding/FormSections/shared/YesNoField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/feature-tests/frilanser.test.tsx
  src/hooks/useMutations.ts
  src/server/graphql/mockData/egenmeldingMock.ts
  src/utils/dateUtils.ts
  src/utils/env.ts
  src/utils/periodeUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add deploy server labs
  .github/workflows/workflow.yaml
Due: yarn prettier --write

add deploy server labs (#315)
  .github/workflows/workflow.yaml
Due: yarn prettier --write

bump minors and patches
  package.json
  yarn.lock
Due: yarn prettier --write

bump minors and patches (#317)
  package.json
  yarn.lock
Due: yarn prettier --write

upgrade to react 18, including react-pdf major
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  src/amplitude/amplitude.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.test.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SendSykmelding/SendSykmeldingFormDevTools.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/server/pdf/pdf.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

upgrade to react 18, including react-pdf major (#318)
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  src/amplitude/amplitude.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.test.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.test.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SendSykmelding/SendSykmeldingFormDevTools.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/server/pdf/pdf.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate to next 13
  jest.setup.js
  package.json
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/feature-tests/general.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/utils/test/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate to next 13 (#319)
  jest.setup.js
  package.json
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/feature-tests/general.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/utils/test/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

simplify form progress util arbeidssituasjon
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/utils/arbeidsgiverUtils.test.ts
  src/utils/arbeidsgiverUtils.ts
  src/utils/arbeidssituasjonUtils.test.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/egenmeldingsperioderAnsattUtils.test.ts
  src/utils/egenmeldingsperioderAnsattUtils.ts
Due: yarn eslint --fix --max-warnings=0

simplify edit egenmelding click
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/ValgtEgenmeldingsdager.tsx
Due: yarn eslint --fix --max-warnings=0

add timeout on test
  src/feature-tests/arbeidstaker.test.tsx
Due: yarn eslint --fix --max-warnings=0

upgrade ds
  package.json
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/index.test.tsx
  src/utils/test/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Fix/simplify click and form progress util (#316)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/feature-tests/arbeidstaker.test.tsx
  src/utils/arbeidsgiverUtils.test.ts
  src/utils/arbeidsgiverUtils.ts
  src/utils/arbeidssituasjonUtils.test.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/egenmeldingsperioderAnsattUtils.test.ts
  src/utils/egenmeldingsperioderAnsattUtils.ts
Due: yarn eslint --fix --max-warnings=0

code split amplitude
  src/amplitude/amplitude.tsx
  src/pages/_app.page.tsx
Due: yarn eslint --fix --max-warnings=0

upgrade ds (#320)
  package.json
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingerField.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/index.test.tsx
  src/utils/test/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

code split amplitude (#321)
  src/amplitude/amplitude.tsx
  src/pages/_app.page.tsx
Due: yarn eslint --fix --max-warnings=0

upgrade dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

get previous sykmelding tom
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

get previous sykmelding tom (#322)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/hooks/useFindPrevSykmeldingTom.test.ts
  src/hooks/useFindPrevSykmeldingTom.ts
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

use and enforce latest node lts (18)
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarnrc.yml
  Dockerfile
  package.json
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
