Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,yml,yaml}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

disable avbryt button when loading
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
Due: yarn eslint --fix --max-warnings=0

tweak logging
  src/hooks/useHotjarTrigger.ts
  src/pages/_app.page.tsx
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

add more logging to proxy
  src/pages/_app.page.tsx
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/proxy/[...path].api.ts
Due: yarn eslint --fix --max-warnings=0

tweak logging in frontend fetching
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

more logging
  package.json
  src/components/SykmeldingViews/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/pages/api/proxy/[...path].api.ts
  src/utils/Fetch.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

clean up logging
  .gitignore
  CODEOWNERS
  next.config.js
  package.json
  src/pages/_app.page.tsx
  src/pages/api/proxy/[...path].api.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

upgrade dependencies
  jest.setup.js
  package.json
  yarn.lock
Due: yarn prettier --write

add sentry
  .github/workflows/workflow.yaml
  Dockerfile
  jest-env.d.ts
  next.config.js
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/pages/_error.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add sentry (#214)
  .github/workflows/workflow.yaml
  Dockerfile
  jest-env.d.ts
  next.config.js
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/pages/_error.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

enable sentry
  nais-dev-gcp.yaml
  nais-prod.yaml
Due: yarn prettier --write

use sykmeldinger-backend in GCP
  README.md
  nais-dev-gcp.yaml
  nais-prod.yaml
Due: yarn prettier --write

pr review feedback from refactor
  Dockerfile
  src/components/SykmeldingViews/SykmeldingView/Sections/PeriodeView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/PrognoseView.test.tsx
  src/models/Sykmelding/Periode.test.ts
  src/models/Sykmelding/Periode.ts
  src/models/Sykmelding/Sykmelding.ts
  src/pages/api/proxy/mock/mock.ts
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
Due: yarn eslint --fix --max-warnings=0

use sykmeldinger-backend in GCP (#215)
  Dockerfile
  README.md
  nais-dev-gcp.yaml
  nais-prod.yaml
  src/components/SykmeldingViews/SykmeldingView/Sections/PeriodeView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/PrognoseView.test.tsx
  src/models/Sykmelding/Periode.test.ts
  src/models/Sykmelding/Periode.ts
  src/models/Sykmelding/Sykmelding.ts
  src/pages/api/proxy/mock/mock.ts
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

lower log level of weird nextjs errors
  src/pages/api/logger.api.ts
Due: yarn eslint --fix --max-warnings=0

lower log level of weird nextjs errors (#216)
  src/pages/api/logger.api.ts
Due: yarn eslint --fix --max-warnings=0

🙈
  src/pages/_document.page.tsx
Due: yarn eslint --fix --max-warnings=0

add stack trace to every log statement on the frontend
  package.json
  src/pages/api/logger.api.ts
  src/utils/logger.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

more logging in client fetch
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

debug: parse fetch json differently
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/proxy/[...path].api.ts
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

add debug bucket
  nais-prod.yaml
Due: yarn prettier --write

enable debug bucket on error
  nais-prod.yaml
  package.json
  src/pages/api/buck-it.api.ts
  src/utils/Fetch.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

monitor body sizes
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

disable compression
  next.config.js
Due: none

debug headers
  src/pages/api/proxy/[...path].api.ts
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

use x-request-id for logging in data fetching
  src/pages/api/proxy/[...path].api.ts
  src/utils/Fetch.ts
  src/utils/logger.ts
Due: yarn eslint --fix --max-warnings=0

log status codes
  src/pages/api/proxy/[...path].api.ts
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

use no-store in fetch
  src/utils/Fetch.ts
Due: yarn eslint --fix --max-warnings=0

refetch sykmeldinger and sykmelding on focus
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

refetch sykmeldinger and sykmelding on focus (#217)
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

access sykmeldinger-backend directly instead of with next proxy
  jest.setup.js
  next.config.js
  src/hooks/useAvbryt.ts
  src/hooks/useBekreftAvvist.ts
  src/hooks/useBrukerinformasjon.ts
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useGjenapne.ts
  src/hooks/useSend.ts
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/[sykmeldingId]/__test__/arbeidsledig.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidssituasjonAnnet.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidstaker.test.tsx
  src/pages/[sykmeldingId]/__test__/bekreftAvvist.test.tsx
  src/pages/[sykmeldingId]/__test__/frilanser.test.tsx
  src/pages/[sykmeldingId]/__test__/selvstendigNaringsdrivende.test.tsx
  src/pages/[sykmeldingId]/__test__/uriktigeOpplysninger.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/index.test.tsx
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

access sykmeldinger-backend directly instead of with next proxy (#218)
  jest.setup.js
  next.config.js
  src/hooks/useAvbryt.ts
  src/hooks/useBekreftAvvist.ts
  src/hooks/useBrukerinformasjon.ts
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useGjenapne.ts
  src/hooks/useSend.ts
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/[sykmeldingId]/__test__/arbeidsledig.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidssituasjonAnnet.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidstaker.test.tsx
  src/pages/[sykmeldingId]/__test__/bekreftAvvist.test.tsx
  src/pages/[sykmeldingId]/__test__/frilanser.test.tsx
  src/pages/[sykmeldingId]/__test__/selvstendigNaringsdrivende.test.tsx
  src/pages/[sykmeldingId]/__test__/uriktigeOpplysninger.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/index.test.tsx
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

Revert "access sykmeldinger-backend directly instead of with next proxy (#218)"
  jest.setup.js
  next.config.js
  src/hooks/useAvbryt.ts
  src/hooks/useBekreftAvvist.ts
  src/hooks/useBrukerinformasjon.ts
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useGjenapne.ts
  src/hooks/useSend.ts
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/[sykmeldingId]/__test__/arbeidsledig.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidssituasjonAnnet.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidstaker.test.tsx
  src/pages/[sykmeldingId]/__test__/bekreftAvvist.test.tsx
  src/pages/[sykmeldingId]/__test__/frilanser.test.tsx
  src/pages/[sykmeldingId]/__test__/selvstendigNaringsdrivende.test.tsx
  src/pages/[sykmeldingId]/__test__/uriktigeOpplysninger.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/index.test.tsx
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

Revert "access sykmeldinger-backend directly instead of with next proxy (#218)" (#219)
  jest.setup.js
  next.config.js
  src/hooks/useAvbryt.ts
  src/hooks/useBekreftAvvist.ts
  src/hooks/useBrukerinformasjon.ts
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useGjenapne.ts
  src/hooks/useSend.ts
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/[sykmeldingId]/__test__/arbeidsledig.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidssituasjonAnnet.test.tsx
  src/pages/[sykmeldingId]/__test__/arbeidstaker.test.tsx
  src/pages/[sykmeldingId]/__test__/bekreftAvvist.test.tsx
  src/pages/[sykmeldingId]/__test__/frilanser.test.tsx
  src/pages/[sykmeldingId]/__test__/selvstendigNaringsdrivende.test.tsx
  src/pages/[sykmeldingId]/__test__/uriktigeOpplysninger.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/index.test.tsx
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

re-enable compression in nextjs
  next.config.js
Due: none

clean up debug code
  nais-prod.yaml
  package.json
  src/pages/api/buck-it.api.ts
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/proxy/[...path].api.ts
  src/server/proxyUtils.ts
  src/utils/Fetch.ts
  src/utils/logger.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

clean up debug code (#220)
  nais-prod.yaml
  package.json
  src/pages/api/buck-it.api.ts
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/proxy/[...path].api.ts
  src/server/proxyUtils.ts
  src/utils/Fetch.ts
  src/utils/logger.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

correct message for rejected over 12 weeks
  src/components/AvvistVeileder/AvvistVeileder.module.css
  src/components/AvvistVeileder/AvvistVeileder.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

correct message for rejected over 12 weeks (#221)
  src/components/AvvistVeileder/AvvistVeileder.module.css
  src/components/AvvistVeileder/AvvistVeileder.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

veileder with bubble
  src/components/InformationBanner/Bubble.module.css
  src/components/InformationBanner/Bubble.tsx
  src/components/InformationBanner/InformationBanner.module.css
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.module.css
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.module.css
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/VeilederSenderSykmeldingen.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingsopplysningerContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingsopplysningerContainer.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
