Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls}": "prettier --write",
    "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

chorep(deps): bump minors
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

feat: update arbeidssituasjon heading+text
  e2e/uriktigeOpplysninger.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/server/graphql/mock-db/MockDb.ts
Due: eslint --fix --max-warnings=0

chore: tweak text
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
Due: eslint --fix --max-warnings=0

chore(deps): bump all minors
  package.json
  yarn.lock
Due: prettier --write

chore(deps): bump lint rules, run prettier on all files
  package.json
  src/components/DevTools/index.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/hooks/useBrukerinformasjonById.ts
  src/server/sykmeldingerService.ts
  src/utils/toSendSykmeldingUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: use router scroll instead of hooks
  src/hooks/useMutations.ts
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: eslint --fix --max-warnings=0

chore: remove not needed alert role on info
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverRiktigNarmesteLederField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerInfo.tsx
Due: eslint --fix --max-warnings=0

feat: add custom missing ag error
  e2e/arbeidstaker.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereFiskerMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereMissingInfo.tsx
  src/components/SendSykmelding/FormSections/ErrorSection.tsx
Due: eslint --fix --max-warnings=0

chore(deps): bump minors
  package.json
  yarn.lock
Due: prettier --write

chore: remove unused decorator-next access policy
  nais/nais-demo.yaml
Due: none

chore: Added summary for freelancers
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
Due: eslint --fix --max-warnings=0

Added check for question about correct info again
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
Due: eslint --fix --max-warnings=0

Refactoring
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserOppsummeringSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
Due: eslint --fix --max-warnings=0

Added check if questions are asked
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
Due: eslint --fix --max-warnings=0

Added check if all dates in egenmelding are completed
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserOppsummeringSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
Due: eslint --fix --max-warnings=0

Cleaned up import
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
Due: eslint --fix --max-warnings=0

Removed space
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
Due: eslint --fix --max-warnings=0

Updating function call
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
Due: eslint --fix --max-warnings=0

Ran prettier
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserOppsummeringSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
Due: eslint --fix --max-warnings=0

EsLint
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserOppsummeringSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
Due: eslint --fix --max-warnings=0

Chore/oppsummering frilansere (#686)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserOppsummeringSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
Due: eslint --fix --max-warnings=0

Update issue templates
  .github/ISSUE_TEMPLATE/jeg-jobber-i-nav.md
  .github/ISSUE_TEMPLATE/jeg-jobber-ikke-i-nav.md
Due: prettier --write

chore(deps): skippertak
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): bump transitive dependencies
  yarn.lock
Due: none

chore: remove link to e-helseforsikring
  src/pages/[sykmeldingId]/e-helseforsikring.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: eslint --fix --max-warnings=0

chore: remove unleash toggles
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
  src/utils/test/testUtils.tsx
Due: eslint --fix --max-warnings=0

chore: remove unused amplitude logs
  src/components/Feedback/Feedback.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverRiktigNarmesteLederField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/BladField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarBruktEgenmeldingsPerioderField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarForsikringField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/ErOpplysningeneRiktigeField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/SykmeldingArbeidsgiverExpansionCard.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/RedigerEgenmeldingsdagerLink.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/FlereOpplysningerSykmeldt.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
Due: eslint --fix --max-warnings=0

chore(deps): bump
  package.json
  yarn.lock
Due: prettier --write

chore(deps): bump playwright to 1.47.0
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): bump deps
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  codegen.ts
  e2e/custom-matchers.ts
  next-env.d.ts
  package.json
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/fetching/graphql.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0
