Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,yml,yaml}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

upgrade deps minor versions, format all files
  README.md
  package.json
  server/package.json
  src/App.tsx
  src/components/AvvistVeileder/AvvistVeileder.test.tsx
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringAndre.tsx
  src/components/AvvistVeileder/ForklaringZDiagnose.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/Sykmeldingview/FlereOpplysninger.test.tsx
  src/components/Sykmeldingview/Layout/ListEntry/ListEntry.tsx
  src/components/Sykmeldingview/Sections/AktivitetIkkeMuligView.test.tsx
  src/components/Sykmeldingview/Sections/AktivitetIkkeMuligView.tsx
  src/components/Sykmeldingview/Sections/ArbeidsevneView.test.tsx
  src/components/Sykmeldingview/Sections/MedisinskVurderingView.tsx
  src/components/Sykmeldingview/Sections/PeriodeView.tsx
  src/components/Sykmeldingview/Sections/PrognoseView.tsx
  src/components/Sykmeldingview/Svg/LegeSvg.tsx
  src/components/Sykmeldingview/SykmeldingsopplysningerContainer.tsx
  src/components/Sykmeldingview/Sykmeldingview.tsx
  src/hooks/useAvbryt.ts
  src/hooks/useBekreftAvvist.ts
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useGjenapne.ts
  src/hooks/useHotjarTrigger.ts
  src/models/Sykmelding/Periode.ts
  src/models/Sykmelding/Prognose.ts
  src/pages/sykmelding/OK/APEN/Form/formComponents/Arbeidssituasjon.tsx
  src/pages/sykmelding/OK/APEN/Form/formComponents/Egenmeldingsperioder.tsx
  src/pages/sykmeldinger/components/Lenkepanel/Lenkepanel.tsx
  src/window.d.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

log referer when serving html
  server/src/server.ts
Due: yarn eslint --fix --max-warnings=0

log referer when serving html (#204)
  server/src/server.ts
Due: yarn eslint --fix --max-warnings=0

don't log when referer is blank
  server/src/server.ts
Due: yarn eslint --fix --max-warnings=0

format referer logging string properly 🙄
  server/src/server.ts
Due: yarn eslint --fix --max-warnings=0

log only when sykmelding with id null is loaded
  server/src/server.ts
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/hooks/useSykmelding.ts
Due: yarn eslint --fix --max-warnings=0

filter sykmeldings by motattDato instead of fom
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

filter sykmeldings by motattDato instead of fom (#205)
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

fix breadcrumb link to ditt sykefravær
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: yarn eslint --fix --max-warnings=0

show SENDT as active sykmelding if they are as old as 1 year
  .snyk
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useFindOlderSykmeldingId.ts
  src/mock/data/sykmelding-apen.ts
  src/mock/data/sykmelding-avbrutt.ts
  src/mock/data/sykmelding-sendt.ts
  src/mock/data/sykmelding-under-behandling-tilbakedatering.ts
  src/mock/mock.ts
  src/pages/sykmelding/SykmeldingPage.test.tsx
  src/pages/sykmelding/__test__/bekreftAvvist.test.tsx
  src/pages/sykmelding/__test__/frilanser.test.tsx
  src/pages/sykmelding/__test__/selvstendigNaringsdrivende.test.tsx
  src/pages/sykmeldinger/SykmeldingerPage.test.tsx
  src/pages/sykmeldinger/SykmeldingerPage.tsx
  src/setupTests.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

show SENDT as active sykmelding if they are as old as 1 year (#206)
  .snyk
  src/hooks/useFindOlderSykmeldingId.test.ts
  src/hooks/useFindOlderSykmeldingId.ts
  src/mock/data/sykmelding-apen.ts
  src/mock/data/sykmelding-avbrutt.ts
  src/mock/data/sykmelding-sendt.ts
  src/mock/data/sykmelding-under-behandling-tilbakedatering.ts
  src/mock/mock.ts
  src/pages/sykmelding/SykmeldingPage.test.tsx
  src/pages/sykmelding/__test__/bekreftAvvist.test.tsx
  src/pages/sykmelding/__test__/frilanser.test.tsx
  src/pages/sykmelding/__test__/selvstendigNaringsdrivende.test.tsx
  src/pages/sykmeldinger/SykmeldingerPage.test.tsx
  src/pages/sykmeldinger/SykmeldingerPage.tsx
  src/setupTests.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
Due: yarn eslint --fix --max-warnings=0

Add orgnr to arbeidsgiver on open sykmelding
  src/pages/sykmelding/OK/APEN/Form/formComponents/ArbeidsgiverOrgnummer.tsx
  src/pages/sykmelding/__test__/arbeidstaker.test.tsx
Due: yarn eslint --fix --max-warnings=0

Add orgnr to arbeidsgiver on open sykmelding (#207)
  src/pages/sykmelding/OK/APEN/Form/formComponents/ArbeidsgiverOrgnummer.tsx
  src/pages/sykmelding/__test__/arbeidstaker.test.tsx
Due: yarn eslint --fix --max-warnings=0

use gcp decorator for dev
  nais-dev-gcp.yaml
Due: yarn prettier --write

use correct ditt nav url in dev
  nais-dev-gcp.yaml
Due: yarn prettier --write

fix app in dev (#208)
  nais-dev-gcp.yaml
Due: yarn prettier --write

show rule hit message when avvist
  src/components/AvvistVeileder/AvvistVeileder.module.css
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringAndre.module.css
  src/components/AvvistVeileder/ForklaringAndre.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

update .snyk
  .snyk
Due: none

add debt echo hook
  .husky/pre-commit
  debt.sh
  package.json
Due: yarn prettier --write

show rule hit message when avvist (#209)
  .husky/pre-commit
  .snyk
  debt.sh
  package.json
  src/components/AvvistVeileder/AvvistVeileder.module.css
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringAndre.module.css
  src/components/AvvistVeileder/ForklaringAndre.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

convert less to css
  src/components/Breadcrumbs/Breadcrumbs.less
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CenterItems/CenterItems.module.css
  src/components/CenterItems/CenterItems.tsx
  src/components/IconButton/IconButton.module.css
  src/components/IconButton/IconButton.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.less
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.module.css
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/Lukknapp/Lukknap.tsx
  src/components/Lukknapp/Lukknapp.module.css
  src/components/Spinner/Spinner.module.css
  src/components/Spinner/Spinner.tsx
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.less
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.module.css
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.tsx
  src/components/TilHovedsiden/TilHovedsiden.less
  src/components/TilHovedsiden/TilHovedsiden.module.css
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/pages/sykmeldinger/components/LenkepanelContainer.less
  src/pages/sykmeldinger/components/LenkepanelContainer.module.css
  src/pages/sykmeldinger/components/LenkepanelContainer.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

rename Lukknapp
  src/components/Lukknapp/Lukknapp.tsx
  src/components/Sykmeldingview/FlereOpplysninger.tsx
  src/components/Sykmeldingview/SykmeldingsopplysningerContainer.tsx
Due: yarn eslint --fix --max-warnings=0

Chore/convert less to css (#210)
  src/components/Breadcrumbs/Breadcrumbs.less
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CenterItems/CenterItems.module.css
  src/components/CenterItems/CenterItems.tsx
  src/components/IconButton/IconButton.module.css
  src/components/IconButton/IconButton.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.less
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.module.css
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/Lukknapp/Lukknapp.module.css
  src/components/Lukknapp/Lukknapp.tsx
  src/components/Spinner/Spinner.module.css
  src/components/Spinner/Spinner.tsx
  src/components/Sykmeldingview/FlereOpplysninger.tsx
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.less
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.module.css
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.tsx
  src/components/Sykmeldingview/SykmeldingsopplysningerContainer.tsx
  src/components/TilHovedsiden/TilHovedsiden.less
  src/components/TilHovedsiden/TilHovedsiden.module.css
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/pages/sykmeldinger/components/LenkepanelContainer.less
  src/pages/sykmeldinger/components/LenkepanelContainer.module.css
  src/pages/sykmeldinger/components/LenkepanelContainer.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

skal ikke feile hvis sykmeldingsgrad er negativ
  src/models/Sykmelding/Periode.ts
Due: yarn eslint --fix --max-warnings=0

ignorerer sårbarhet uten fiks
  .snyk
Due: none

skal ikke feile hvis sykmeldingsgrad er negativ (#212)
  .snyk
  src/models/Sykmelding/Periode.ts
Due: yarn eslint --fix --max-warnings=0

move limit style from global to component
  src/App.css
  src/components/PageWrapper/PageWrapper.module.css
  src/components/PageWrapper/PageWrapper.tsx
  src/pages/notFound/NotFoundPage.module.css
  src/pages/notFound/NotFoundPage.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

List bullet, bold button text, top border
  src/App.css
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.module.css
  src/components/Sykmeldingview/Layout/SykmeldingEntry/SykmeldingEntry.tsx
  src/components/Sykmeldingview/Sections/MedisinskVurderingView.module.css
  src/components/Sykmeldingview/Sections/MedisinskVurderingView.tsx
  src/pages/sykmelding/OK/APEN/AvbrytPanel/AvbrytPanel.module.css
  src/pages/sykmelding/OK/APEN/AvbrytPanel/AvbrytPanel.tsx
  src/pages/sykmelding/OK/APEN/Form/Form.module.css
  src/pages/sykmelding/OK/APEN/Form/Form.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

override react-error-overlay version
  package.json
  yarn.lock
Due: yarn prettier --write

fix not uploading files to CDN in prod
  .github/workflows/workflow.yaml
Due: yarn prettier --write

fix workflow prod deploy
  .github/workflows/workflow.yaml
Due: yarn prettier --write

fix wrong nullability in arbeidsgiver
  src/components/SykmeldingViews/SykmeldingView/Sections/ArbeidsgiverView.tsx
  src/hooks/useSykmeldinger.ts
  src/models/Sykmelding/ArbeidsgiverSykmelding.ts
Due: yarn eslint --fix --max-warnings=0

reduce logging when hitting legit 401s
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/proxy/[...path].api.ts
Due: yarn eslint --fix --max-warnings=0
