Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

Boost ram for prod
  nais/nais-prod.yaml
Due: none

Boost ram for nais-dev
  nais/nais-dev.yaml
Due: none

Boost ram (#387)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

adjust requested ram
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

boost ram
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

Boost ram limit to 512
  nais/nais-prod.yaml
Due: none

Ram (#388)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

add loading skeleton to kvittering page
  src/components/LabsWarning/LabsWarning.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

re-use loading skeleton for previous loading
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

fix layout shift on small devices because of breadcrumbs
  src/hooks/useBreadcrumbs.ts
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/pages/[sykmeldingId]/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

adjust requested memory
  nais/nais-demo.yaml
Due: none

add http header csp
  next.config.js
Due: none

use crypto for random sessionId
  src/toggles/ssr.tsx
Due: yarn eslint --fix --max-warnings=0

use crypto for random sessionId (#392)
  src/toggles/ssr.tsx
Due: yarn eslint --fix --max-warnings=0

poc per user session demo testdata
  package.json
  src/auth/withAuthentication.ts
  src/components/DevTools/dev-tools.graphql
  src/components/DevTools/index.tsx
  src/components/FormComponents/DevTools/FormDevTools.tsx
  src/fetching/graphql.generated.ts
  src/hooks/useBreadcrumbs.ts
  src/pages/_app.page.tsx
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/SessionRecord.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/index.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/server/pdf/pdf.tsx
  src/toggles/ssr.tsx
  src/utils/userSessionId.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

more new testdata scenarios
  package.json
  src/components/DevTools/index.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/SessionRecord.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/index.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/graphql/mockData/arbeidsgivereMock.ts
  src/server/graphql/mockData/sykmelding-apen.ts
  src/server/sendSykmeldingMapping.test.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

put devtools in a modal instead
  src/components/DevTools/index.tsx
Due: yarn eslint --fix --max-warnings=0

more example scenarios
  src/components/DevTools/index.tsx
  src/server/api-models/sykmelding/Behandlingsutfall.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/index.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/graphql/mockData/sykmelding-apen-papir.ts
  src/server/graphql/mockData/sykmelding-avbrutt.ts
  src/server/graphql/mockData/sykmelding-avvist-bekreftet.ts
  src/server/graphql/mockData/sykmelding-avvist-ugyldig-data.ts
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/server/graphql/mockData/sykmelding-bekreftet.ts
  src/server/graphql/mockData/sykmelding-egenmeldt.ts
  src/server/graphql/mockData/sykmelding-sendt-2.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockData/sykmelding-sendt.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-utgatt.ts
  src/server/sendSykmeldingMapping.test.ts
Due: yarn eslint --fix --max-warnings=0

more scenarios
  src/components/DevTools/index.tsx
  src/server/graphql/mock-db/SessionRecord.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/index.ts
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

tweak hint
  src/components/DevTools/index.tsx
Due: yarn eslint --fix --max-warnings=0

replace checkbox with switch
  src/components/DevTools/index.tsx
  src/server/graphql/mock-db/index.ts
Due: yarn eslint --fix --max-warnings=0

require attention from devtools hint
  src/components/DevTools/index.tsx
Due: yarn eslint --fix --max-warnings=0

fix dev/prod, don't look for sessionId unless demo
  src/auth/withAuthentication.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
Due: yarn eslint --fix --max-warnings=0

fix modal and router warnings
  src/components/DevTools/index.tsx
Due: yarn eslint --fix --max-warnings=0

don't init faro in demo
  src/faro/faro.ts
  src/pages/_app.page.tsx
Due: yarn eslint --fix --max-warnings=0

bump deps
  package.json
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/FormComponents/YesNoField/YesNoField.tsx
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
