Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

text corrections - 20 percent - tell if tlf is missing
  src/components/AvvistVeileder/ForklaringUnder20Prosent.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Nasjonal/AnnenInfo.test.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Nasjonal/AnnenInfo.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/AnnenInfo.tsx
  src/server/pdf/components/AnnenInfo.tsx
Due: yarn eslint --fix --max-warnings=0

heading level
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/Feedback/Feedback.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/Header/Header.tsx
  src/components/Spinner/Spinner.tsx
Due: yarn eslint --fix --max-warnings=0

split fnr
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Felles/SykmeldingenGjelder.test.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Felles/SykmeldingenGjelder.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/SykmeldingenGjelder.tsx
  src/server/pdf/components/SykmeldingenGjelder.tsx
  src/utils/pasientUtils.ts
Due: yarn eslint --fix --max-warnings=0

fix: e2e quirk
  e2e/egenmeldingsdager.spec.tsx
Due: yarn eslint --fix --max-warnings=0

chore: more explicit text on 'dine svar'
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/SendesTilArbeidsgiver/SendesTilArbeidsgiverInfo.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldt.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtUtenlandsk.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove unused info link
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: change arbeidsforhold read more title
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove MANUAL_PROCESSING from switch case
  src/pages/[sykmeldingId]/index.page.tsx
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatus.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove MANUAL_PROCESSING from switch case (#530)
  src/pages/[sykmeldingId]/index.page.tsx
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatus.tsx
Due: yarn eslint --fix --max-warnings=0

fix: don't submit flexjar on enter, only ctrl+enter
  src/components/Feedback/Feedback.tsx
Due: yarn eslint --fix --max-warnings=0

chore: tweak dependabot.yaml [skip ci]
  .github/dependabot.yml
Due: none

text that says diagnose is not showing
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Nasjonal/Diagnoser.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Utenlandsk/AnnenInfo.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/MedisinskTilstand.tsx
Due: yarn eslint --fix --max-warnings=0

fix: apollo noise in RTL-tests
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserEgenmeldingPerioderField.test.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtUtenlandsk.test.tsx
  src/fetching/apollo.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  src/utils/test/dataUtils.ts
  src/utils/test/mockUtils.ts
  src/utils/test/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): upgrade deps
  .github/workflows/deploy.yaml
  .husky/pre-commit
  e2e/arbeidsledig.spec.tsx
  e2e/egenmeldingsdager.spec.tsx
  package.json
  scripts/postinstall.js
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: added over70 to graphqls
  src/components/InformationBanner/InformationBanner.test.tsx
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/Pasient.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: warn when sykmelding-grad is below 20%
  src/components/AvvistVeileder/AvvistVeileder.test.tsx
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringUnder20Prosent.tsx
  src/components/InformationBanner/ForklaringUnder20Prosent.tsx
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

feat: add final text for users below 20% sykmeldt
  src/components/InformationBanner/ForklaringUnder20Prosent.tsx
  src/components/InformationBanner/InformationBanner.test.tsx
Due: yarn eslint --fix --max-warnings=0

feat: added over70 to graphqls (#531)
  src/components/InformationBanner/InformationBanner.test.tsx
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/Pasient.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: re-add avvist under 20% explanation
  src/components/AvvistVeileder/AvvistVeileder.test.tsx
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringUnder20Prosent.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

feat: warn when sykmelding-grad is below 20% (#527)
  src/components/InformationBanner/ForklaringUnder20Prosent.tsx
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

feat: Added information banner for over 70
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/InformationBanner/OverSyttiInfo.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add final texts users above 70
  src/components/InformationBanner/ForklaringOverSyttiInfo.tsx
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/InformationBanner/OverSyttiInfo.tsx
Due: yarn eslint --fix --max-warnings=0

fix: re-add avvist over 70 explanation
  src/components/AvvistVeileder/AvvistVeileder.tsx
  src/components/AvvistVeileder/ForklaringOverSytti.tsx
Due: yarn eslint --fix --max-warnings=0

feat: warn when user is above 70 years (#532)
  src/components/InformationBanner/ForklaringOverSyttiInfo.tsx
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Revert "chore: remove MANUAL_PROCESSING from switch case (#530)"
  src/pages/[sykmeldingId]/index.page.tsx
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatus.tsx
Due: yarn eslint --fix --max-warnings=0

chore: change info text
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

Reapply "chore: remove MANUAL_PROCESSING from switch case (#530)"
  src/pages/[sykmeldingId]/index.page.tsx
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatus.tsx
Due: yarn eslint --fix --max-warnings=0

chore: replace Link legacyBehavior with as={Link}
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/RedigerEgenmeldingsdagerLink.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
