Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,yml,yaml}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

re-introduce old proxies, to force people with old app to login
  src/components/ForceOrder/ForceUseOlderSykmelding.tsx
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/proxy/[...path].api.ts
Due: yarn eslint --fix --max-warnings=0

log date when date is invalid
  src/server/api-models/date.ts
Due: yarn eslint --fix --max-warnings=0

split sykmelding opplysninger container
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/INVALID/BEKREFTET/InvalidBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingsopplysningerContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingsopplysningerContainer.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

[skip ci] move feature tests
  src/feature-tests/.eslintrc
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/mockUtils.ts
  src/feature-tests/permittert.test.tsx
  src/feature-tests/selvstendigNaringsdrivende.test.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
  src/pages/[sykmeldingId]/index.test.tsx
Due: yarn eslint --fix --max-warnings=0

parse date with additional number in year
  src/server/api-models/date.test.tsx
  src/server/api-models/date.ts
Due: yarn eslint --fix --max-warnings=0

parse date with additional number in year (#237)
  src/server/api-models/date.test.tsx
  src/server/api-models/date.ts
Due: yarn eslint --fix --max-warnings=0

add tests
  jest.config.js
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/Diagnoser.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PrognoseView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/TilbakedateringView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MedisinskTilstand.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MeldingTilArbeidsgiver.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Tilbakedatering.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/UtdypendeOpplysninger.test.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/papirSykmelding.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
Due: yarn eslint --fix --max-warnings=0

add tests (#238)
  jest.config.js
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/Diagnoser.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PrognoseView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/TilbakedateringView.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MedisinskTilstand.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MeldingTilArbeidsgiver.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Tilbakedatering.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/UtdypendeOpplysninger.test.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftetSykmelding.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/feature-tests/papirSykmelding.test.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
Due: yarn eslint --fix --max-warnings=0

use wonderwall for auth
  .snyk
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.2.2.cjs
  .yarnrc.yml
  nais-dev-gcp.yaml
  nais-prod.yaml
  next.config.js
  package.json
  scripts/dirty-deploy.sh
  src/auth/fakeLocalAuthTokenSet.json
  src/auth/token/idporten.ts
  src/auth/token/tokenCache.ts
  src/auth/token/tokenx.ts
  src/auth/withAuthentication.ts
  src/fetching/apollo.ts
  src/pages/api/graphql.api.ts
  src/server/flexService.ts
  src/server/graphql/resolvers.ts
  src/server/sykmeldingerService.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add operation to error logging in apollo
  src/fetching/apollo.ts
Due: yarn eslint --fix --max-warnings=0

retain stack trace on network errors
  src/fetching/apollo.ts
Due: yarn eslint --fix --max-warnings=0

more logging
  src/fetching/apollo.ts
  src/pages/api/logger.api.ts
  src/server/sykmeldingerService.ts
Due: yarn eslint --fix --max-warnings=0

add trace id to next app for better debugging
  codegen.yml
  next-logger.config.js
  package.json
  src/auth/withAuthentication.ts
  src/fetching/apollo.ts
  src/hooks/useMutations.ts
  src/hooks/useSykmelding.ts
  src/hooks/useSykmeldinger.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
  src/pages/api/logger.api.ts
  src/server/flexService.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/pdf/pdf.tsx
  src/server/sykmeldingerService.ts
  src/utils/logger.ts
  src/utils/userTraceId.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use x-request-id header instead for tracing
  src/auth/withAuthentication.ts
  src/fetching/apollo.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/logger.api.ts
  src/server/flexService.ts
  src/server/graphql/resolvers.ts
  src/server/sykmeldingerService.ts
  src/utils/logger.ts
  src/utils/userTraceId.ts
Due: yarn eslint --fix --max-warnings=0

use child loggers on server side to propagate x_request_id
  src/auth/withAuthentication.ts
  src/fetching/apollo.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/logger.api.ts
  src/server/flexService.ts
  src/server/sykmeldingerService.ts
  src/utils/logger.ts
  src/utils/userRequestId.ts
  src/utils/userTraceId.ts
Due: yarn eslint --fix --max-warnings=0

use service discovery instead of internet
  nais-dev-gcp.yaml
  nais-prod.yaml
Due: yarn prettier --write

upgrade some deps and yarn
  .snyk
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  jest.setup.js
  package.json
  src/components/CenterItems/CenterItems.tsx
  src/components/SykmeldingViews/OK/APEN/AvbrytContext.tsx
  src/components/SykmeldingViews/OK/APEN/Form/formComponents/Egenmeldingsperioder.tsx
  src/utils/logger.ts
  src/utils/test/dataUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

reduce docker image size
  .dockerignore
  .github/workflows/workflow.yaml
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  scripts/postinstall.js
  yarn.lock
Due: yarn prettier --write

make sladd SVG a lot smaller
  src/components/SykmeldingViews/SykmeldingView/Svg/SladdSvg.tsx
Due: yarn eslint --fix --max-warnings=0

move under behandling to dedicated section
  package.json
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/pages/index.page.tsx
  src/pages/index.test.tsx
  src/server/pdf/components/AnnenInfo.tsx
  src/server/pdf/components/Perioder.tsx
  src/server/pdf/components/SykmeldingPdf.tsx
  src/server/pdf/components/SykmeldingenGjelder.tsx
  src/server/pdf/components/utils/periodUtils.ts
  src/server/pdf/components/utils/textUtils.ts
  src/utils/behandlerUtils.ts
  src/utils/pasientUtils.ts
  src/utils/periodeUtils.ts
  src/utils/sykmeldingSortUtils.test.ts
  src/utils/sykmeldingSortUtils.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

graphic changes in kvittering
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/FlereOpplysninger.module.css
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

graphic changes in kvittering (#247)
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingViews/OK/AVBRUTT/OkAvbruttSykmelding.tsx
  src/components/SykmeldingViews/OK/UTGATT/OkUtgattSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/FlereOpplysninger.module.css
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Update UriktigeOpplysningerInfo.tsx
  src/components/SykmeldingViews/OK/APEN/Form/UriktigeOpplysningerInfo.tsx
Due: yarn eslint --fix --max-warnings=0

bump deps
  package.json
  yarn.lock
Due: yarn prettier --write

hide arbeidssituasjon
  src/components/SykmeldingViews/OK/APEN/Form/Form.tsx
  src/feature-tests/uriktigeOpplysninger.test.tsx
Due: yarn eslint --fix --max-warnings=0
