Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls}": "prettier --write",
    "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

chore(deps): bump deps
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  codegen.ts
  e2e/custom-matchers.ts
  next-env.d.ts
  package.json
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/fetching/graphql.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

fix: over 70 scenario
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/scenarios.ts
Due: eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  src/components/InformationBanner/InformationBanner.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Nasjonal/AktivitetIkkeMulig.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/AktivitetIkkeMulig.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/pages/_document.page.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: add scenarios for INVALID tilbakedatering
  src/components/AvvistVeileder/ForklaringAndre.tsx
  src/server/graphql/mock-db/scenarios.ts
  src/utils/test/dataUtils.ts
Due: eslint --fix --max-warnings=0

chore: remove not needed scenario kant-i-kant
  e2e/arbeidsledig.spec.tsx
  e2e/permittert.spec.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: eslint --fix --max-warnings=0

docs: update readme
  README.md
Due: prettier --write

chore: add and fix e2e tests
  e2e/arbeidsledig.spec.tsx
  e2e/arbeidssituasjon-annet.spec.tsx
  e2e/arbeidstaker.spec.tsx
  e2e/egenmeldingsdager.spec.tsx
  e2e/fiskere.spec.tsx
  e2e/frilanser.spec.tsx
  e2e/guide-panel.spec.tsx
  e2e/jordbruker.spec.tsx
  e2e/papirsykmelding.spec.tsx
  e2e/permittert.spec.tsx
  e2e/test-utils.ts
  e2e/ugyldigTilbakedatering.spec.tsx
  e2e/uriktigeOpplysninger.spec.tsx
  e2e/user-actions.ts
  e2e/user-expects.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereInfo.tsx
  src/components/SendSykmelding/FormSections/ErrorSection.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/OpplysningerRiktigeSection.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerField.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerInfo.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: eslint --fix --max-warnings=0

fix: double tilbake knapp/link
  e2e/avbrytSykmelding.spec.tsx
  e2e/bekreftAvvist.spec.tsx
  e2e/user-expects.ts
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: eslint --fix --max-warnings=0

chore: remove endre egenmeldingsdager
  e2e/arbeidsledig.spec.tsx
  e2e/arbeidssituasjon-annet.spec.tsx
  e2e/arbeidstaker.spec.tsx
  e2e/egenmeldingsdager.spec.tsx
  e2e/fiskere.spec.tsx
  e2e/frilanser.spec.tsx
  e2e/jordbruker.spec.tsx
  e2e/permittert.spec.tsx
  e2e/selvstendigNaringsdrivende.spec.tsx
  e2e/ugyldigTilbakedatering.spec.tsx
  e2e/uriktigeOpplysninger.spec.tsx
  e2e/user-expects.ts
  src/components/EndreEgenmelding/EndreEgenmelding.tsx
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/EndreEgenmelding/egenmeldingsdagerFormUtils.ts
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/Egenmeldingsdager.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/RedigerEgenmeldingsdagerLink.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldt.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtSection.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtUtenlandsk.test.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/fetching/endre-egenmeldingsdager.graphql
  src/fetching/graphql.generated.ts
  src/hooks/useBreadcrumbs.ts
  src/hooks/useMutations.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolvers.ts
  src/server/sykmeldingerService.ts
  vitest.setup.mts
Due: prettier --write, eslint --fix --max-warnings=0

chore: node 22 (now LTS)
  .lintstagedrc
  .mise.toml
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

feat: change design for feedback
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/FeedbackReducer.tsx
Due: eslint --fix --max-warnings=0

chore: add amplitude for missing arbeidsgiver ansatt
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereMissingInfo.tsx
Due: eslint --fix --max-warnings=0

chore: add ux signals for naeringsdrivende
  src/components/UxSignals/UxSignalsWidget.module.css
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: prettier --write, eslint --fix --max-warnings=0

chore: disable ux signals
  src/components/UxSignals/UxSignalsWidget.tsx
Due: eslint --fix --max-warnings=0

feat: add text for frilanser with no arbeidsforhold
  e2e/arbeidstaker.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereMissingInfo.tsx
Due: eslint --fix --max-warnings=0

Removed God Bedring
  src/components/StatusBanner/StatusBanner.tsx
Due: eslint --fix --max-warnings=0

Removed God Bedring (#744)
  src/components/StatusBanner/StatusBanner.tsx
Due: eslint --fix --max-warnings=0

chore: use .nais
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
  .github/workflows/nextjs_bundle_analysis.yml
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/envs/.env.prod
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: none

chore: main workflow
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
Due: none

fix: add role to alerts
  src/components/DevTools/index.tsx
  src/components/Feedback/Feedback.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereFiskerMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
Due: eslint --fix --max-warnings=0

fix: use heading instead of label
  src/components/AvvistVeileder/ForklaringAndre.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
Due: eslint --fix --max-warnings=0

fix: remove some divs
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
Due: eslint --fix --max-warnings=0

fix: auto complete off on annet select
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: eslint --fix --max-warnings=0
