Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

test: fix arbeidsituasjonUtils.test.ts [skip ci]
  src/utils/arbeidssituasjonUtils.test.ts
Due: yarn eslint --fix --max-warnings=0

remove unused external accessPolicy (dev) (#520)
  nais/nais-dev.yaml
Due: none

fix: broken state when trying to avbryte bekreftet or already avbrutt sykmelding (#518)
  e2e/avbrytSykmelding.spec.tsx
  playwright.config.ts
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
  src/components/SykmeldingViews/OK/APEN/OkApenSykmelding.tsx
  src/pages/[sykmeldingId]/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove a few unused external accessPolicy
  nais/nais-demo.yaml
  nais/nais-prod.yaml
Due: none

chore: add brukerSvar to schema (multi step deploy)
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/sykmelding-status.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add brukerSvar to schema (multi step deploy) (#521)
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/sykmelding-status.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add title to SladdSvg
  src/components/SykmeldingViews/SykmeldingView/Svg/SladdSvg.tsx
Due: yarn eslint --fix --max-warnings=0

make text readable for screen readers
  e2e/bekreftAvvist.spec.tsx
  e2e/papirsykmelding.spec.tsx
  e2e/permittert.spec.tsx
  e2e/user-actions.ts
  src/components/FormComponents/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/components/Header/Header.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarBruktEgenmeldingsPerioderField.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingViews/SykmeldingView/FlereOpplysninger.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/hooks/useFindPrevSykmeldingTom.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/utils/toSykmeldingAriaLabel.test.ts
  src/utils/toSykmeldingAriaLabel.ts
Due: yarn eslint --fix --max-warnings=0

text-white on feedback button focus
  src/components/Feedback/Feedback.tsx
Due: yarn eslint --fix --max-warnings=0

list of dates
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserEgenmeldingPeriodSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/FrilanserEgenmeldingPerioderField.tsx
Due: yarn eslint --fix --max-warnings=0

fix: demo deploy delete job [skip ci]
  .github/workflows/demo-delete.yaml
Due: none

chore: bump to yarn 4.0.2 [skip ci]
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: upgrade deps
  .github/workflows/deploy.yaml
  package.json
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
  yarn.lock
Due: yarn prettier --write

chore: upgrade deps (#523)
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
  yarn.lock
Due: yarn prettier --write

updated vite to 5.0.12
  package.json
  yarn.lock
Due: yarn prettier --write

vite deps now using 5.0.12
  yarn.lock
Due: none

updated vite to 5.0.12 (#524)
  package.json
  yarn.lock
Due: yarn prettier --write

feat: show arbeidsgiver-navn in BrukerSvar
  e2e/arbeidstaker.spec.tsx
  e2e/fiskere.spec.tsx
  e2e/user-expects.ts
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/molecules/sykmelding/SykmeldingInfo.tsx
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: expect answers in egenmeldingsdager e2e tests
  e2e/egenmeldingsdager.spec.tsx
  e2e/user-expects.ts
  playwright.config.ts
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
Due: yarn eslint --fix --max-warnings=0

test: expect answers in fiskere e2e tests
  e2e/fiskere.spec.tsx
  e2e/user-expects.ts
Due: yarn eslint --fix --max-warnings=0

test: assert actual answers in e2e for arbeidsledig, annet and arbeidstaker
  .github/workflows/deploy.yaml
  e2e/arbeidsledig.spec.tsx
  e2e/arbeidssituasjon-annet.spec.tsx
  e2e/arbeidstaker.spec.tsx
  e2e/user-expects.ts
  package.json
  src/server/sendSykmeldingMapping.test.ts
  src/utils/sporsmal.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: more assertions on answers for frilanser, jordbruker, permittert etc
  e2e/frilanser.spec.tsx
  e2e/jordbruker.spec.tsx
  e2e/permittert.spec.tsx
  e2e/selvstendigNaringsdrivende.spec.tsx
  e2e/test-utils.ts
  e2e/user-actions.ts
  e2e/user-expects.ts
Due: yarn eslint --fix --max-warnings=0

feat: show users svar on kvittering and before submitting (AG)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/FiskerArbeidstakerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/SendesTilArbeidsgiver/SendesTilArbeidsgiverInfo.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldt.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/molecules/sykmelding/SykmeldingInfo.tsx
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/server/api-models/SendSykmelding.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/sendSykmeldingMapping.ts
  src/utils/orgUtils.ts
  src/utils/stringUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: add explicit e2e test for handling nullable brukerSvar
  e2e/general.spec.tsx
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/sendSykmeldingMapping.ts
Due: yarn eslint --fix --max-warnings=0

chore: add amplitude to expansion cards
  src/components/Sykmelding/SykmeldingerArbeidsgiver/SykmeldingArbeidsgiverExpansionCard.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/FlereOpplysningerSykmeldt.tsx
Due: yarn eslint --fix --max-warnings=0

chore: improve amplitude-data for bruker svar event
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
Due: yarn eslint --fix --max-warnings=0
