Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

fix: dokumentliste url
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
Due: eslint --fix --max-warnings=0

fix/uu (#745)
  src/components/AvvistVeileder/ForklaringAndre.tsx
  src/components/DevTools/index.tsx
  src/components/Feedback/Feedback.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereFiskerMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
Due: eslint --fix --max-warnings=0

chore: bump dependencies
  .github/workflows/deploy.yaml
  package.json
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: bump dependencies (#746)
  .github/workflows/deploy.yaml
  package.json
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: bump dependencies
  next-env.d.ts
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: update docker image for playwright
  .github/workflows/deploy.yaml
Due: prettier --write

fix: use upload artifact v4
  .github/workflows/deploy.yaml
Due: prettier --write

chore: bump dependencies (#747)
  .github/workflows/deploy.yaml
  next-env.d.ts
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: upgrade to @navikt/next-logger v2
  package.json
  src/components/FormComponents/YesNoField/YesNoField.tsx
  src/pages/api/logger.api.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: modernize playwright github actions execution
  .github/workflows/deploy.yaml
  playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: reduce resource requests for production and development
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: prettier --write

chore: reduce resource requests for production
  .nais/nais-prod.yaml
Due: prettier --write

chore: reduce cpu resource requests for production
  .nais/nais-prod.yaml
Due: prettier --write

chore: fix playwright test upload URL
  .github/workflows/deploy.yaml
Due: prettier --write

chore: change error logging to warning
  src/fetching/apollo.ts
  src/toggles/ssr.ts
Due: eslint --fix --max-warnings=0

chore: change error logging to warning (#750)
  src/fetching/apollo.ts
  src/toggles/ssr.ts
Due: eslint --fix --max-warnings=0

chore: reduce requests cpu and memory resources in prod
  .nais/nais-prod.yaml
Due: prettier --write

chore: reduce requests cpu and memory resources in prod (#751)
  .nais/nais-prod.yaml
Due: prettier --write

chore: reduce requests memory resources in prod
  .nais/nais-prod.yaml
Due: prettier --write

chore: update deps
  package.json
  src/utils/test/dataUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

fix: failing playwright tests
  e2e/egenmeldingsdager.spec.tsx
Due: eslint --fix --max-warnings=0

chore: use queryParam
  next.config.js
  package.json
  src/pages/api/generate-pdf/index.api.ts
  src/pages/api/graphql.api.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

Revert "chore: update deps"
  package.json
  src/utils/test/dataUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: tweak happy path logging, be less spammy
  src/server/flexService.ts
  src/server/sykmeldingerService.ts
Due: eslint --fix --max-warnings=0

chore(deps): bump next 15.4, fix pdf path (rewrites are broken)
  next.config.js
  package.json
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtSection.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
