Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,yml,yaml}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

initial structure for editing egenmeldingsdager
  jest.setup.js
  package.json
  src/components/EndreEgenmelding/EndreEgenmelding.tsx
  src/components/EndreEgenmelding/EndreEgenmeldingForm.module.css
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/EndreEgenmelding/egenmeldingsdagerFormUtils.ts
  src/components/FormComponents/DevTools/FormDevTools.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.test.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/components/FormComponents/Egenmelding/HarbruktEgenmelding.module.css
  src/components/FormComponents/Egenmelding/ValgtEgenmeldingsdager.module.css
  src/components/FormComponents/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Egenmeldingsdager/Egenmeldingsdager.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Egenmeldingsdager/Egenmeldingsdager.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.test.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.module.css
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_app.page.tsx
  src/pages/api/public-env.api.ts
  src/server/graphql/mockData/sykmelding-sendt-3.ts
  src/server/graphql/mockResolvers.ts
  src/utils/egenmeldingsdagerUtils.ts
  src/utils/env.ts
  src/utils/test/dataUtils.ts
  src/utils/test/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

implement new API in sykmeldinger-backend
  src/components/EndreEgenmelding/EndreEgenmelding.tsx
  src/components/EndreEgenmelding/EndreEgenmeldingForm.module.css
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/EndreEgenmelding/egenmeldingsdagerFormUtils.ts
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Egenmeldingsdager.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Egenmeldingsdager/Egenmeldingsdager.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/fetching/endre-egenmeldingsdager.graphql
  src/fetching/graphql.generated.ts
  src/hooks/useMutations.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.module.css
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/server/graphql/mockResolvers.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

tweak flow, loading states, feedback when editing egenmeldingsdager
  package.json
  postcss.config.js
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.module.css
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/Spinner/Spinner.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/hooks/useMutations.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/server/graphql/mockResolvers.ts
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add example of endre egenmeldings interaction test
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
Due: yarn eslint --fix --max-warnings=0

fix messed up linting
  package.json
  yarn.lock
Due: yarn prettier --write

test display of existing periods on endre egenmeldingsdager page
  src/components/FormComponents/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
Due: yarn eslint --fix --max-warnings=0

remove CenterItems-component
  src/components/CenterItems/CenterItems.module.css
  src/components/CenterItems/CenterItems.tsx
  src/components/SykmeldingViews/INVALID/APEN/InvalidApenSykmelding.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove bunch of single class module.css files
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerInfo.module.css
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerInfo.tsx
  src/components/StatusInfo/StatusInfo.module.css
  src/components/StatusInfo/StatusInfo.tsx
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.module.css
  src/components/SykmeldingViews/OK/APEN/PapirInfoheader.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/JaEntry/JaEntry.module.css
  src/components/SykmeldingViews/SykmeldingView/Layout/JaEntry/JaEntry.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix blueness on AnnenInfo sections
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AnnenInfo.tsx
Due: yarn eslint --fix --max-warnings=0

more detailed endre egenmeldingsdager tests
  jest.setup.js
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
  src/components/FormComponents/Egenmelding/ValgtEgenmeldingsdager.tsx
  src/hooks/useMutations.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
Due: yarn eslint --fix --max-warnings=0

clean up and replace more CSS with tailwind
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
  src/components/FormComponents/Egenmelding/HarbruktEgenmelding.module.css
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/LabsWarning/LabsWarning.module.css
  src/components/LabsWarning/LabsWarning.tsx
  src/components/PageWrapper/PageWrapper.module.css
  src/components/PageWrapper/PageWrapper.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldingEntry/SykmeldingEntry.module.css
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldingEntry/SykmeldingEntry.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldtHeading/SykmeldtHeading.module.css
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldtHeading/SykmeldtHeading.tsx
  src/pages/404.module.css
  src/pages/404.page.tsx
  src/pages/[sykmeldingId]/index.module.css
  src/pages/[sykmeldingId]/index.page.tsx
  src/style/global.css
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

initial refactor of reusable Sykmelding-info components
  .gitignore
  src/components/SendSykmelding/FormSections/ActionSection.module.css
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldtHeading/SykmeldtHeading.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingArbeidsgiverUtenlandsk/AnnenInfoView.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingArbeidsgiverUtenlandsk/AnnenInfoView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingSykmeldtUtenlandsk/AnnenInfo.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingSykmeldtUtenlandsk/AnnenInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/AktivitetIkkeMuligView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/AnnenInfoView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/ArbeidsevneView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/Diagnoser.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/Diagnoser.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/MeldingTilArbeidsgiverView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PrognoseView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/SykmeldingenGjelderView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/TilbakedateringView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AktivitetIkkeMulig.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/AnnenInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Arbeidsevne.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MedisinskTilstand.test.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MedisinskTilstand.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MeldingTilArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MeldingTilNav.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Prognose.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/SykmeldingenGjelder.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Tilbakedatering.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/UtdypendeOpplysninger.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/components/molecules/sykmelding/SykmeldingGroup.tsx
  src/components/molecules/sykmelding/SykmeldingInfo.tsx
  src/server/graphql/mockData/sykmelding-apen.ts
  src/utils/test/dataUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate rest of sykmelding views to new components
  package.json
  src/components/SykmeldingViews/SykmeldingView/Layout/JaEntry/JaEntry.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/ListEntry/ListEntry.module.css
  src/components/SykmeldingViews/SykmeldingView/Layout/ListEntry/ListEntry.tsx
  src/components/SykmeldingViews/SykmeldingView/Layout/SykmeldingEntry/SykmeldingEntry.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Egenmeldingsdager.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MeldingTilArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/MeldingTilNav.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.module.css
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Perioder.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/SykmeldingenGjelder.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Tilbakedatering.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/components/molecules/sykmelding/SykmeldingGroup.tsx
  src/components/molecules/sykmelding/SykmeldingInfo.tsx
  src/server/graphql/mockData/sykmelding-avvist.ts
  src/utils/tw-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

replace a few more module.css files with tailwind
  src/components/SykmeldingViews/SykmeldingView/FlereOpplysninger.module.css
  src/components/SykmeldingViews/SykmeldingView/FlereOpplysninger.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Egenmeldingsdager.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.module.css
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtContainer.tsx
  src/feature-tests/arbeidstaker.test.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

better support for editing egenmeldingsdager
  src/components/EndreEgenmelding/EndreEgenmelding.tsx
  src/components/EndreEgenmelding/EndreEgenmeldingForm.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/Egenmeldingsdager.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewSykmeldt/RedigerEgenmeldingsdagerLink.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingSykmeldtUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewSykmeldt.tsx
  src/hooks/useMutations.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
  src/server/graphql/mockResolvers.ts
  src/server/pdf/components/Perioder.tsx
  src/utils/egenmeldingsdagerUtils.ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

show the selected dates in "Hva sendes til arbeidsgiver"-acciordion
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/SendesTilArbeidsgiver/SendesTilArbeidsgiverInfo.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverUtenlandsk.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/utils/ts-utils.ts
Due: yarn eslint --fix --max-warnings=0

don't let bekreftede sykmeldinger add egenmeldingsdager
  src/components/SykmeldingViews/OK/BEKREFTET/OkBekreftetSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

Use Google Artifact Registry (GAR) for docker image pull
  .github/workflows/dev-demo-delete.yaml
  .github/workflows/workflow.yaml
  README.md
  nais-dev-demo.yaml
  src/pages/_document.page.tsx
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Added in correct step name
  .github/workflows/workflow.yaml
  nais-dev-demo.yaml
Due: yarn prettier --write

Added in constant image
  .github/workflows/dev-demo-delete.yaml
Due: yarn prettier --write

open dev for non-naisdevice use
  README.md
  nais-dev-gcp.yaml
Due: yarn prettier --write

polyfill globalThis for Safari 12
  package.json
  src/pages/_app.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Use Google Artifact Registry (GAR) for docker image pull (#334)
  .github/workflows/dev-demo-delete.yaml
  .github/workflows/labs-delete.yaml
  .github/workflows/workflow.yaml
  README.md
  nais-dev-demo.yaml
  src/pages/_document.page.tsx
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Removed ${{
  .github/workflows/dev-demo-delete.yaml
Due: yarn prettier --write

Removed ${{ (#339)
  .github/workflows/dev-demo-delete.yaml
Due: yarn prettier --write
