Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

chore: use prodNext decorator
  nais/nais-demo.yaml
  nais/nais-prod.yaml
  src/pages/_document.page.tsx
Due: eslint --fix --max-warnings=0

chore: Revert "chore: use prodNext decorator"
  nais/nais-demo.yaml
  nais/nais-prod.yaml
  src/pages/_document.page.tsx
Due: eslint --fix --max-warnings=0

chore: upgrade next-logger so monkey-patching works with OTEL
  Dockerfile
  next.config.js
  package.json
  src/instrumentation.api.ts
  src/pages/_document.page.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: Revert "chore: Revert "chore: use prodNext decorator""
  nais/nais-demo.yaml
  nais/nais-prod.yaml
  src/pages/_document.page.tsx
Due: eslint --fix --max-warnings=0

links to "søknad om opphold utenfor eøs"
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
Due: eslint --fix --max-warnings=0

links to "søknad om opphold utenfor eøs" (#665)
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
Due: eslint --fix --max-warnings=0

chore: decorator-next is prod now
  src/pages/_document.page.tsx
Due: eslint --fix --max-warnings=0

chore(deps): skippertak (no major)
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.2.1.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  src/components/FormComponents/YesNoField/YesNoField.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore(deps): skippertak (no major) (#666)
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.2.1.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  src/components/FormComponents/YesNoField/YesNoField.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

feat: allow fiskere on Hyre/Begge to bekrefte instead of sende
  e2e/fiskere.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/AnsattArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/BladField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/ArbeidsgiverFiskereFallbackSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/ArbeidsgivereMissingForFiskereInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/FiskerArbeidstakerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/LottOgHyreField.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/resolver-types.generated.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: eslint --fix --max-warnings=0

feat: small text changes for eu/eoes info
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
Due: eslint --fix --max-warnings=0

wip: fakerator RSC playground [skip ci]
  next-env.d.ts
  next.config.js
  package.json
  src/app/decorator/decorator.tsx
  src/app/decorator/fetch.ts
  src/app/fakerator/code.js/route.api.ts
  src/app/fakerator/css.css/route.api.ts
  src/app/layout.page.tsx
  src/app/poc/page.page.tsx
  src/instrumentation.api.ts
  src/mocks.ts
  src/pages/_document.page.tsx
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

wip: fakerator RSC playground [skip ci]
  next-env.d.ts
  next.config.js
  package.json
  src/app/@crumbs/default.tsx
  src/app/[sykmeldingId]/kvittering/page.tsx
  src/app/[sykmeldingId]/page.tsx
  src/app/decorator/decorator.tsx
  src/app/decorator/fetch.ts
  src/app/fakerator/breadcrumbr.tsx
  src/app/fakerator/code.js/route.ts
  src/app/fakerator/css.css/route.ts
  src/app/fakerator/footer/route.tsx
  src/app/fakerator/header/route.tsx
  src/app/fakerator/metadata/route.tsx
  src/app/fakerator/proxy.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/preload-resources.tsx
  src/instrumentation.ts
  src/pages/_document.page.tsx
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

fix: link about eu/eøs breaks mobile view
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
Due: eslint --fix --max-warnings=0

fix: link about eu/eøs breaks mobile view (#669)
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
Due: eslint --fix --max-warnings=0

feat: hint to fiskere without arbeidsgiver what to do
  e2e/arbeidstaker.spec.tsx
  e2e/fiskere.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/AnsattArbeidstakerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereFiskerMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/FiskerArbeidstakerSection.tsx
  src/server/graphql/resolver-types.generated.ts
Due: eslint --fix --max-warnings=0

chore: claricy component name for fiskere missing info
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereFiskerMissingInfo.tsx
Due: eslint --fix --max-warnings=0

feat: hint to fiskere without arbeidsgiver what to do (#670)
  e2e/arbeidstaker.spec.tsx
  e2e/fiskere.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/AnsattArbeidstakerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereFiskerMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/FiskerArbeidstakerSection.tsx
  src/server/graphql/resolver-types.generated.ts
Due: eslint --fix --max-warnings=0

chore: amplitude-up fiskere without arbeidsgivere warning
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgivereFiskerMissingInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerArbeidstaker/FiskerArbeidstakerSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/FiskerSection.tsx
Due: eslint --fix --max-warnings=0

chore(deps): fix ws vuln by forcing version
  package.json
  yarn.lock
Due: prettier --write

fix: small type issue [skip ci]
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Fisker/LottOgHyreField.tsx
Due: eslint --fix --max-warnings=0

chore: remove globalthis polyfill
  package.json
  src/pages/_app.page.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: remove optional on arbeidsledig
  src/server/api-models/sykmelding/SykmeldingStatus.ts
Due: eslint --fix --max-warnings=0

fix: use api brukerinformasjonApi/{sykmeldignId}
  src/components/DevTools/index.tsx
  src/components/FormComponents/DevTools/AutoFillerDevTools.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/hooks/useBrukerinformasjonById.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: remvoe unused stuff
  src/components/DevTools/index.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
Due: eslint --fix --max-warnings=0

chore: fix test
  src/pages/[sykmeldingId]/index.test.tsx
Due: eslint --fix --max-warnings=0

fix: add props to AutofillerDevTools
  src/components/FormComponents/DevTools/AutoFillerDevTools.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
Due: eslint --fix --max-warnings=0

fix: use api brukerinformasjonApi/{sykmeldignId} (#672)
  src/components/DevTools/index.tsx
  src/components/FormComponents/DevTools/AutoFillerDevTools.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/hooks/useBrukerinformasjonById.ts
  src/pages/[sykmeldingId]/index.test.tsx
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/resolvers.ts
  src/server/graphql/typedef/root.graphqls
  src/server/sykmeldingerService.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(deps): skipperbump
  package.json
  yarn.lock
Due: prettier --write

chore(deps): vitest v2 (also clean up some test error-spam)
  package.json
  src/pages/[sykmeldingId]/index.test.tsx
  src/utils/test/mockUtils.ts
  src/utils/test/testUtils.tsx
  vitest.setup.mts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: enable wonderwall autologin
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  next.config.js
Due: none

chore: ignore eslint 9 in dependabot [skip ci]
  .github/dependabot.yml
Due: none

chorep(deps): bump minors
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{md,html,css,json,graphql,graphqls}
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
