Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

[skip ci] fix development mode runtime env error
  .env.development
  package.json
  src/pages/_document.page.tsx
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

veiledertekst
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
Due: yarn eslint --fix --max-warnings=0

fix demo deploy env issues
  nais/envs/.env.demo
Due: none

bump to dekorator-moduler@v2, use service discovery decorator
  .lintstagedrc
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/components/Fakeorator/Fakeorator.tsx
  src/components/Fakeorator/logo.svg
  src/pages/_document.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump to dekorator-moduler@v2, use service discovery decorator (#356)
  .lintstagedrc
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/components/Fakeorator/Fakeorator.tsx
  src/components/Fakeorator/logo.svg
  src/pages/_document.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix decorator locally
  .env.development
  src/components/Fakeorator/Fakeorator.tsx
  src/components/Fakeorator/logo.svg
  src/pages/_document.page.tsx
Due: yarn eslint --fix --max-warnings=0

små tekstendringer (#355)
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
Due: yarn eslint --fix --max-warnings=0

tweak demo delete trigger [skip ci]
  .github/workflows/demo-delete.yaml
Due: yarn prettier --write

use nextjs standalone output
  Dockerfile
  next.config.js
  src/pages/_document.page.tsx
Due: yarn eslint --fix --max-warnings=0

use nextjs standalone output (#357)
  Dockerfile
  next.config.js
  src/pages/_document.page.tsx
Due: yarn eslint --fix --max-warnings=0

reduce bundle size by using decorator amplitude
  package.json
  src/amplitude/amplitude.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor Lenkepanel to tailwind
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.module.css
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

reduce bundle size by using decorator amplitude (#358)
  package.json
  src/amplitude/amplitude.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor Lenkepanel to tailwind (#359)
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.module.css
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

don't shrink etikett on Lenkepanel
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
Due: yarn eslint --fix --max-warnings=0

bump all deps
  package.json
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump all deps (#361)
  package.json
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

prepare for possibility of using app directory
  next-env.d.ts
  next.config.js
  src/app/api/internal/is_alive/route.api.ts
  src/app/api/internal/is_ready/route.api.ts
  src/app/api/logger/route.api.ts
  src/auth/withAuthentication.ts
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/fetching/graphql.generated.ts
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
  src/pages/api/internal/is_alive.api.ts
  src/pages/api/internal/is_ready.api.ts
  src/pages/api/logger.api.ts
  src/pages/api/proxy/[...path].api.ts
  src/server/api-models/sykmelding/Merknad.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatusAvvist.tsx
  src/utils/sykmeldingUtils.test.ts
  src/utils/test/dataUtils.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add 500 error page
  src/pages/500.page.tsx
Due: yarn eslint --fix --max-warnings=0

add feat tests egenmeldingsdager
  src/feature-tests/egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.test.tsx
  vitest.setup.ts
Due: yarn eslint --fix --max-warnings=0

prepare for possibility of using app directory (#360)
  next-env.d.ts
  next.config.js
  src/app/api/internal/is_alive/route.api.ts
  src/app/api/internal/is_ready/route.api.ts
  src/app/api/logger/route.api.ts
  src/auth/withAuthentication.ts
  src/components/InformationBanner/InformationBanner.test.tsx
  src/components/InformationBanner/InformationBanner.tsx
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/feature-tests/ugyldigTilbakedatering.test.tsx
  src/fetching/graphql.generated.ts
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
  src/pages/api/internal/is_alive.api.ts
  src/pages/api/internal/is_ready.api.ts
  src/pages/api/logger.api.ts
  src/pages/api/proxy/[...path].api.ts
  src/server/api-models/sykmelding/Merknad.ts
  src/server/graphql/mockData/sykmelding-ugyldig-tilbakedatering.ts
  src/server/graphql/mockData/sykmelding-under-behandling-tilbakedatering.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
  src/server/pdf/components/SykmeldingStatus/SykmeldingStatusAvvist.tsx
  src/utils/sykmeldingUtils.test.ts
  src/utils/test/dataUtils.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add missing enum value for Merknadtype
  src/fetching/graphql.generated.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump deps
  package.json
  yarn.lock
Due: yarn prettier --write

add log statement when users hit nextjs 404 page 🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔
  src/pages/404.page.tsx
Due: yarn eslint --fix --max-warnings=0

un-app-dir because it causes some REAL weird behaviour with basePath????
  next-env.d.ts
  next.config.js
  src/app/api/internal/is_alive/route.api.ts
  src/app/api/internal/is_ready/route.api.ts
  src/app/api/logger/route.api.ts
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/internal/is_alive.api.ts
  src/pages/api/internal/is_ready.api.ts
  src/pages/api/logger.api.ts
  src/pages/api/proxy/[...path].api.ts
Due: yarn eslint --fix --max-warnings=0

remove unused code
  scripts/debt.sh
  src/pages/api/flex-proxy/[...path].api.ts
  src/pages/api/proxy/[...path].api.ts
Due: yarn eslint --fix --max-warnings=0

implement faro in frontend
  .env.development
  nais/envs/.env.dev
  nais/envs/.env.prod
  package.json
  src/faro/faro.ts
  src/pages/_app.page.tsx
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

implement faro in frontend (#362)
  .env.development
  nais/envs/.env.dev
  nais/envs/.env.prod
  package.json
  src/faro/faro.ts
  src/pages/_app.page.tsx
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

update telemetry url in dev
  nais/envs/.env.dev
Due: none

update telemetry url
  nais/envs/.env.prod
Due: none

disable web tracing for now
  src/faro/faro.ts
Due: yarn eslint --fix --max-warnings=0

hide sykmeldt som link
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
Due: yarn eslint --fix --max-warnings=0

change login error to be warn
  src/auth/withAuthentication.ts
Due: yarn eslint --fix --max-warnings=0

not logging error an warn
  src/auth/withAuthentication.ts
Due: yarn eslint --fix --max-warnings=0

improve fetch error message on sykmeldings page
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/index.test.tsx
Due: yarn eslint --fix --max-warnings=0

add a single retry when backend 404's
  src/fetching/apollo.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
