Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

bulk bump some deps
  package.json
  src/faro/faro.ts
  src/toggles/ssr.test.ts
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump to next 13.5
  next-env.d.ts
  next.config.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

update dependabot.yml [skip ci]
  .github/dependabot.yml
Due: none

add auto-fill devtool in dev and local for arbeidsgiver-form
  src/components/FormComponents/DevTools/AutoFillerDevTools.tsx
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/utils/ts-utils.ts
Due: yarn eslint --fix --max-warnings=0

break words on weirdly long arbeidsgiver-navn
  src/components/DevTools/index.tsx
  src/components/FormComponents/YesNoField/YesNoField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingViewArbeidsgiver.tsx
  src/server/graphql/mock-db/data-creators.ts
  src/style/global.css
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

prettify org names (logic stolen from flex)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
  src/feature-tests/arbeidsledig.test.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/egenmeldingsdager.test.tsx
  src/server/graphql/objectResolvers.ts
  src/utils/orgUtils.test.ts
  src/utils/orgUtils.ts
Due: yarn eslint --fix --max-warnings=0

bump dependencies
  next-env.d.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

batch bump deps
  package.json
  yarn.lock
Due: yarn prettier --write

endringer utforming på tvers
  src/components/Header/Header.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

endringer utforming på tvers (#442)
  src/components/Header/Header.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

utforming på tvers
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/SykmeldingerList/SykmeldingerListAll.tsx
Due: yarn eslint --fix --max-warnings=0

don't show egenmeldingsdager-button on kvittering for non-arbeidstakere
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
Due: yarn eslint --fix --max-warnings=0

utforming på tvers
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/SykmeldingerList/SykmeldingerListAll.tsx
  src/components/SykmeldingerList/SykmeldingerListDynamic.tsx
Due: yarn eslint --fix --max-warnings=0

Update SykmeldingerListAll.tsx
  src/components/SykmeldingerList/SykmeldingerListAll.tsx
Due: yarn eslint --fix --max-warnings=0

utformingsendringer
  next-env.d.ts
  src/components/SykmeldingerList/SykmeldingerListAll.tsx
  src/components/SykmeldingerList/SykmeldingerListDynamic.tsx
Due: yarn eslint --fix --max-warnings=0

hide 'Send' button when strengt fortrolig adresse
  src/components/SendSykmelding/FormSections/ActionSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/feature-tests/arbeidstaker.test.tsx
Due: yarn eslint --fix --max-warnings=0

utforming på tvers
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/SendSykmelding/FormSections/OpplysningerRiktige/UriktigeOpplysningerInfo.tsx
Due: yarn eslint --fix --max-warnings=0

Utforming
  src/components/SykmeldingerList/SykmeldingerListAll.tsx
Due: yarn eslint --fix --max-warnings=0

wip: playwright in GHA
  .github/workflows/deploy.yaml
  Dockerfile
  next.config.js
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  src/pages/_document.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate avbryt sykmeldinger to playwright
  e2e/avbrytSykmelding.spec.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

make tests more robust
  e2e/arbeidstaker.spec.tsx
  e2e/test-utils.ts
  playwright.config.ts
  src/auth/withAuthentication.ts
  src/components/DevTools/playwright-devtools.tsx
  src/hooks/useHotjarTrigger.ts
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

migrate arbeidsledig to playwright
  e2e/arbeidsledig.spec.tsx
  playwright.config.ts
  scripts/build-e2e.sh
  src/feature-tests/arbeidsledig.test.tsx
Due: yarn eslint --fix --max-warnings=0

setup playwright
  .gitignore
  e2e/.eslintrc
  e2e/arbeidssituasjon-annet.spec.tsx
  e2e/permittert.spec.tsx
  package.json
  playwright.config.ts
  src/feature-tests/arbeidssituasjonAnnet.test.tsx
  src/feature-tests/permittert.test.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate feature-test - arbeidstaker to playwright
  .github/workflows/deploy.yaml
  Dockerfile
  e2e/arbeidstaker.spec.tsx
  e2e/test-utils.ts
  package.json
  playwright.config.ts
  src/components/DevTools/playwright-devtools.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/pages/_app.page.tsx
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/scenarios.test.ts
  src/server/graphql/mock-db/scenarios.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

migrate bekreftAvvist to playwright
  e2e/bekreftAvvist.spec.tsx
  e2e/test-utils.ts
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/server/graphql/mock-db/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

custom matchers for descriptive text
  e2e/bekreftAvvist.spec.tsx
  e2e/custom-matchers-globals.d.ts
  e2e/custom-matchers.ts
  e2e/test-utils.ts
Due: yarn eslint --fix --max-warnings=0

remove playwright devtools (use params), use reusable user-actions
  e2e/arbeidsledig.spec.tsx
  e2e/arbeidssituasjon-annet.spec.tsx
  e2e/arbeidstaker.spec.tsx
  e2e/avbrytSykmelding.spec.tsx
  e2e/bekreftAvvist.spec.tsx
  e2e/test-utils.ts
  e2e/user-actions.ts
  playwright.config.ts
  src/auth/mock-context.ts
  src/auth/withAuthentication.ts
  src/components/DevTools/playwright-devtools.tsx
  src/pages/_app.page.tsx
Due: yarn eslint --fix --max-warnings=0
