Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls}": "prettier --write",
    "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

feat: add arbeidsgiver section for arbeidsledig
  e2e/arbeidsledig.spec.tsx
  e2e/user-actions.ts
  e2e/user-expects.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/hooks/useFindPrevSykmeldingTom.ts
  src/hooks/useFindRelevantArbeidsgivere.test.ts
  src/hooks/useFindRelevantArbeidsgivere.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
  src/toggles/toggles.ts
  src/toggles/utils.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/sporsmal.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/dataUtils.ts
  src/utils/test/testUtils.tsx
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: specify 'annet' instead of 'arbeidstaker'
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: eslint --fix --max-warnings=0

fix: favicon 🙈
  src/pages/_document.page.tsx
Due: eslint --fix --max-warnings=0

chore: ignore period with same fom
  src/hooks/useFindRelevantArbeidsgivere.test.ts
  src/hooks/useFindRelevantArbeidsgivere.ts
Due: eslint --fix --max-warnings=0

feat: hide arbeidsgiver name from sykmelding
  src/components/Sykmelding/SykmeldingerArbeidsgiver/Nasjonal/AnnenInfo.tsx
Due: eslint --fix --max-warnings=0

feat: arbeidsgiver → arbeidsforhold
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  src/toggles/toggles.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: update ux signals id
  src/components/UxSignals/UxSignalsWidget.tsx
Due: eslint --fix --max-warnings=0

chore: fix breadcrumbs in dev mode [skip ci]
  src/hooks/useBreadcrumbs.ts
Due: eslint --fix --max-warnings=0

chore: disable UX signals for now
  src/components/UxSignals/UxSignalsWidget.tsx
Due: eslint --fix --max-warnings=0

chore: add tidligere arbeidsgivere field
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/ArbeidsgiverSykmelding.ts
  src/server/api-models/sykmelding/Sykmelding.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
  src/server/graphql/typedef/sykmelding.graphqls
Due: prettier --write, eslint --fix --max-warnings=0

chore: add tidligere arbeidsgiver list
  e2e/arbeidsledig.spec.tsx
  e2e/user-expects.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
  src/fetching/graphql.generated.ts
  src/fetching/sykmeldinger.graphql
  src/hooks/useFindRelevantArbeidsgivere.test.ts
  src/hooks/useFindRelevantArbeidsgivere.ts
  src/server/api-models/SendSykmelding.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/mock-db/scenarios.ts
  src/server/graphql/objectResolvers.ts
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: dont amplitude orgnummer
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverField.tsx
Due: eslint --fix --max-warnings=0

fix: fravaer for sykmelding info text
  e2e/frilanser.spec.tsx
  e2e/user-actions.ts
  e2e/user-expects.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/HarBruktEgenmeldingsPerioderField.tsx
  src/server/sendSykmeldingMapping.test.ts
  src/utils/sporsmal.ts
Due: eslint --fix --max-warnings=0

feat: add info about several sykmeldinger
  e2e/arbeidstaker.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereInfo.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  src/server/graphql/mock-db/data-creators.ts
  src/utils/sporsmal.ts
  src/utils/toSendSykmeldingUtils.test.ts
Due: eslint --fix --max-warnings=0

feat: fix loading text to match
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: eslint --fix --max-warnings=0

chore: remove tidligere arbeidsgivere list
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/ArbeidsgiverSykmelding.ts
  src/server/api-models/sykmelding/Sykmelding.ts
  src/server/graphql/mock-db/data-creators.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/sykmelding.graphqls
Due: prettier --write, eslint --fix --max-warnings=0

chore: enable auto instrumentation
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

chore: enable auto instrumentation (#610)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

chore: add version and env to faro
  src/faro/faro.ts
Due: eslint --fix --max-warnings=0

chore(deps): skippertak
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

feat: add annet-text for pensjonist og student
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: eslint --fix --max-warnings=0

chore(deps): skippertak (#611)
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

feat: add annet-text for pensjonist og student (#612)
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: eslint --fix --max-warnings=0

chore: revert "chore(deps): skippertak (#611)"
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): bump runtime minors
  package.json
  yarn.lock
Due: prettier --write

chore: add demo scenario for under behandling but not sent
  src/server/graphql/mock-db/scenarios.ts
Due: eslint --fix --max-warnings=0

chore: enable explicit nextjs instrumentation
  next.config.js
  package.json
  src/instrumentation.api.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: add simple cache to unleash toggles
  package.json
  src/toggles/ssr.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: add simple cache to unleash toggles (#615)
  package.json
  src/toggles/ssr.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore(deps): bump
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write
