Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

chore: reapply "chore: update deps"
  package.json
  src/utils/test/dataUtils.ts
  src/utils/test/testUtils.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore(deps): skippertakbump of all dev deps
  next.config.js
  package.json
  yarn.lock
Due: prettier --write

chore: cache playwright browsers in between runs [skip ci]
  .github/workflows/deploy.yaml
Due: prettier --write

chore(deps): resolve ws vuln
  package.json
  yarn.lock
Due: prettier --write

chore: update to correct link
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
Due: eslint --fix --max-warnings=0

chore: update to correct link (#766)
  src/components/FormComponents/Egenmelding/HarBruktEgenmelding.tsx
Due: eslint --fix --max-warnings=0

chore: increase memory request from 200Mi to 310Mi
  .nais/nais-prod.yaml
Due: prettier --write

chore: update replica limits and CPU requests in nais-prod.yaml
  .nais/nais-prod.yaml
Due: prettier --write

chore: increase CPU request from 120m to 140m
  .nais/nais-prod.yaml
Due: prettier --write

chore: set disabled state on submit button
  src/components/SendSykmelding/FormSections/ActionSection.tsx
Due: eslint --fix --max-warnings=0

chore: increase memory request from 310Mi to 330Mi
  .nais/nais-prod.yaml
Due: prettier --write

chore: increase memory request from 330Mi to 360Mi
  .nais/nais-prod.yaml
Due: prettier --write

chore: increase CPU request from 140m to 160m
  .nais/nais-prod.yaml
Due: prettier --write

chore: increase memory request from 360Mi to 390Mi
  .nais/nais-prod.yaml
Due: prettier --write

chore: increase memory request from 390Mi to 430Mi
  .nais/nais-prod.yaml
Due: prettier --write

chore: Increase memory request from 430Mi to 450Mi
  .nais/nais-prod.yaml
Due: prettier --write

chore: increase memory request from 450Mi to 550Mi
  .nais/nais-prod.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,yaml}
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
