Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls}": "prettier --write",
    "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

chore(deps): bump (#616)
  .github/workflows/deploy.yaml
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: remove arbeidsledig org navn
  src/fetching/graphql.generated.ts
  src/server/api-models/sykmelding/SykmeldingStatus.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/bruker-svar.graphqls
  src/server/graphql/typedef/send-sykmelding.graphqls
Due: prettier --write, eslint --fix --max-warnings=0

chore: fix weird stars align e2e date selector issue
  e2e/egenmeldingsdager.spec.tsx
  playwright.config.ts
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
Due: eslint --fix --max-warnings=0

chore: fix weird stars align e2e date selector issue (#618)
  e2e/egenmeldingsdager.spec.tsx
  playwright.config.ts
  src/components/FormComponents/Egenmelding/EgenmeldingerField.tsx
Due: eslint --fix --max-warnings=0

chore: use oasis payload parsing
  package.json
  src/auth/withAuthentication.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
  src/server/flexService.ts
  src/server/graphql/resolvers.ts
  src/toggles/ssr.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: remove unnecessary active ag check
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/formProgressUtils.ts
  src/utils/arbeidsgiverUtils.test.ts
  src/utils/arbeidsgiverUtils.ts
Due: eslint --fix --max-warnings=0

chore: add tidligere arbeidsgivere service
  src/fetching/graphql.generated.ts
  src/server/api-models/TidligereArbeidsgiver.ts
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/root.graphqls
  src/server/graphql/typedef/tidligere-arbeidsgivere.graphqls
  src/server/sykmeldingerService.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add tidligere arbeidsgivere to form
  e2e/arbeidsledig.spec.tsx
  e2e/avbrytSykmelding.spec.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigArbeidsgiverField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigSection.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvar.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldt.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/SykmeldingSykmeldtUtenlandsk.tsx
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/hooks/useFindRelevantArbeidsgivere.test.ts
  src/hooks/useFindRelevantArbeidsgivere.ts
  src/server/graphql/mock-db/MockDb.ts
  src/server/graphql/mockResolvers.ts
  src/server/graphql/objectResolvers.ts
  src/server/graphql/resolvers.ts
  src/server/sendSykmeldingMapping.test.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: use oasis payload parsing (#617)
  package.json
  src/auth/withAuthentication.ts
  src/pages/api/generate-pdf/[sykmeldingId].api.ts
  src/pages/api/graphql.api.ts
  src/server/flexService.ts
  src/server/graphql/resolvers.ts
  src/toggles/ssr.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore: log to loki and elastic at the same time
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

chore: log to loki and elastic at the same time (#619)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

feat: add text for AAP
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
Due: eslint --fix --max-warnings=0

chore: try out bundle size reporter on PRs
  .github/workflows/nextjs_bundle_analysis.yml
  package.json
Due: prettier --write

chore(deps): upgrade deps
  .github/workflows/nextjs_bundle_analysis.yml
  package.json
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

chore(deps): upgrade deps (#621)
  .github/workflows/nextjs_bundle_analysis.yml
  package.json
  src/server/graphql/resolver-types.generated.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

feat: add tidligere ag field for permittert
  e2e/permittert.spec.tsx
  e2e/user-actions.ts
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsledig/ArbeidsledigArbeidsgiverField.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Felles/BrukerSvarUtils.ts
  src/server/sendSykmeldingMapping.test.ts
  src/server/sendSykmeldingMapping.ts
  src/utils/arbeidssituasjonUtils.ts
  src/utils/sporsmal.ts
  src/utils/toSendSykmeldingUtils.test.ts
  src/utils/toSendSykmeldingUtils.ts
Due: eslint --fix --max-warnings=0

feat: design changes for kvitteringssiden
  e2e/arbeidstaker.spec.tsx
  e2e/avbrytSykmelding.spec.tsx
  e2e/bekreftAvvist.spec.tsx
  e2e/general.spec.tsx
  e2e/user-expects.ts
  src/components/ForceOrder/HintToNextOlderSykmelding.tsx
  src/components/Header/Header.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/StatusBanner/StatusBanner.test.tsx
  src/components/StatusBanner/StatusBanner.tsx
  src/components/StatusInfo/StatusInfo.test.tsx
  src/components/StatusInfo/StatusInfo.tsx
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  src/utils/sykmeldingUtils.ts
Due: eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: bump remeda
  e2e/egenmeldingsdager.spec.tsx
  package.json
  src/components/DevTools/index.tsx
  src/components/FormComponents/DevTools/AutoFillerDevTools.tsx
  src/components/Sykmelding/SykmeldingerArbeidsgiver/SykmeldingArbeidsgiver.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/MedisinskTilstand.tsx
  src/components/Sykmelding/SykmeldingerSykmeldt/Nasjonal/UtdypendeOpplysninger.tsx
  src/components/SykmeldingerList/SykmeldingerListAll.tsx
  src/server/graphql/mock-db/MockDb.ts
  src/utils/egenmeldingsdagerUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

feat: add link for e-helseforsikring
  src/pages/[sykmeldingId]/e-helseforsikring.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: eslint --fix --max-warnings=0

chore: remove ds-icons from lint summary
  scripts/debt.sh
Due: none

feat: add and remove Annet categories
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/AnnetExtraSelect.tsx
  src/components/SendSykmelding/SendSykmeldingForm.tsx
Due: eslint --fix --max-warnings=0

chore: add amplitude for opphold utland click
  src/components/StatusInfo/StatusInfo.tsx
Due: eslint --fix --max-warnings=0

chore: remove unnecessary amplitude log
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/FlereArbeidsgivereInfo.tsx
Due: eslint --fix --max-warnings=0

feat: move e-helseforsikring info
  src/pages/[sykmeldingId]/e-helseforsikring.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: eslint --fix --max-warnings=0
