Repository navikt/sykmeldinger: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

Update arbeidsledig.test.tsx
  src/feature-tests/arbeidsledig.test.tsx
Due: yarn eslint --fix --max-warnings=0

fix warn before leave alert showing even though form was not dirty
  package.json
  src/components/SendSykmelding/SendSykmeldingForm.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump everything except ds and next
  package.json
  scripts/debt.sh
  src/fetching/endre-egenmeldingsdager.graphql
  src/fetching/extra-form-data.graphql
  src/fetching/graphql.generated.ts
  src/fetching/submit.graphql
  src/fetching/sykmeldinger.graphql
  src/server/graphql/resolver-types.generated.ts
  src/server/graphql/typedef/root.graphqls
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump designsystem
  package.json
  src/components/FormComponents/Egenmelding/EgenmeldingDatesPickerSubField.tsx
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Frilanser/EgenmeldingPeriodSubField.tsx
  src/feature-tests/egenmeldingsdager.test.tsx
  src/pages/[sykmeldingId]/kvittering.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix jest-dom typing in tests
  package.json
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

apply lint fix after lint preset bump
  src/components/AvvistVeileder/AvvistVeileder.test.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
Due: yarn eslint --fix --max-warnings=0

fix accordions, move two of them to expansionpanel
  package.json
  scripts/debt.sh
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/Lukknapp/Lukknapp.module.css
  src/components/Lukknapp/Lukknapp.tsx
  src/components/SykmeldingViews/SykmeldingView/FlereOpplysninger.tsx
  src/components/SykmeldingViews/SykmeldingView/Sections/SykmeldingViewArbeidsgiver/PeriodeView.tsx
  src/components/SykmeldingViews/SykmeldingView/SykmeldingArbeidsgiverContainer.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/egenmeldingsdager.test.tsx
  src/pages/index.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

working poc of RSC on landing page under /new
  next-env.d.ts
  package.json
  scripts/safari12.sh
  src/app/_apollo.tsx
  src/app/_providers.tsx
  src/app/layout.page.tsx
  src/app/new/layout.page.tsx
  src/app/new/page.page.tsx
  src/auth/rscAuthentication.tsx
  src/components/InfoOmDigitalSykmelding/InfoOmDigitalSykmelding.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.module.css
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/components/TilHovedsiden/TilHovedsiden.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/middleware.page.ts
  src/pages/[sykmeldingId]/endre-egenmeldingsdager.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/server/flexService.ts
  src/server/graphql/mockResolvers.ts
  src/server/sykmeldingerService.ts
  src/toggles/rsc.tsx
  src/utils/breadcrumbs.test.ts
  src/utils/breadcrumbs.ts
  src/utils/sykmeldingFilterUtils.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add logging
  scripts/safari12.sh
  src/app/layout.page.tsx
  src/auth/rscAuthentication.tsx
Due: yarn eslint --fix --max-warnings=0

tweak memory and remove cpu limits in dev
  nais/nais-dev.yaml
Due: none

fix rsc errors
  Dockerfile
  nais/nais-dev.yaml
  src/app/_apollo.tsx
  src/app/layout.page.tsx
  src/auth/rscAuthentication.tsx
Due: yarn eslint --fix --max-warnings=0

only load typedefs once
  src/app/_apollo.tsx
Due: yarn eslint --fix --max-warnings=0

more aggressive decorator caching
  .yarn/patches/@navikt-nav-dekoratoren-server-component-npm-0.1.5-fbb5eab38b.patch
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  next.config.js
  package.json
  src/app/layout.page.tsx
  src/pages/_document.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

debug
  src/app/layout.page.tsx
  src/app/new/[sykmeldingId]/page.page.tsx
Due: yarn eslint --fix --max-warnings=0

poc a new page and more client stuff (breadcrumbs n stuff)
  src/app/_providers.tsx
  src/app/layout.page.tsx
  src/app/new/[sykmeldingId]/_sykmelding-root.tsx
  src/app/new/[sykmeldingId]/page.page.tsx
  src/app/new/_shared/page-header.tsx
  src/app/new/_sykmeldinger-root.tsx
  src/app/new/page.page.tsx
  src/components/SykmeldingLinkPanel/Lenkepanel/Lenkepanel.tsx
  src/components/SykmeldingLinkPanel/SykmeldingLinkPanel.tsx
  src/hooks/useBreadcrumbs.ts
  src/middleware.page.ts
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/pages/index.test.tsx
  src/server/graphql/mockResolvers.ts
  src/utils/breadcrumbs.test.ts
  src/utils/breadcrumbs.ts
Due: yarn eslint --fix --max-warnings=0

move new route behind feature toggle
  src/app/_apollo.tsx
  src/app/layout.page.tsx
  src/auth/rscAuthentication.tsx
  src/auth/user-context.ts
  src/middleware.page.ts
  src/toggles/context.tsx
  src/toggles/rsc.tsx
  src/toggles/ssr.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
Due: yarn eslint --fix --max-warnings=0

[skip ci] poc database access
  package.json
  src/app/new/_older-sykmeldinger.tsx
  src/app/new/_processing-sykmeldinger.tsx
  src/app/new/_unsent-sykmeldinger.tsx
  src/app/new/page.page.tsx
  src/auth/fakeLocalAuthTokenSet.json
  src/canary/components/aksel/client.ts
  src/canary/components/aksel/server.ts
  src/canary/components/sykmeldinger/sortable-sykmelding-section.tsx
  src/canary/components/sykmeldinger/sykmelding-link-panel.tsx
  src/canary/db.ts
  src/components/SykmeldingLinkPanel/Lenkepanel/LenkepanelIcon.tsx
  src/middleware.page.ts
  src/pages/_document.page.tsx
  src/server/graphql/mockResolvers.ts
  src/toggles/utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

don't lookback at AVVENTENDE for egenmeldinger
  src/components/SendSykmelding/FormSections/Arbeidssituasjon/Arbeidsgiver/ArbeidsgiverSection.tsx
  src/components/SykmeldingViews/OK/SENDT/OkSendtSykmelding.tsx
  src/feature-tests/arbeidstaker.test.tsx
  src/feature-tests/egenmeldingsdager.test.tsx
  src/hooks/useFindPrevSykmeldingTom.ts
Due: yarn eslint --fix --max-warnings=0

fetch sykmeldinger from v4 api
  src/app/new/_older-sykmeldinger.tsx
  src/app/new/_processing-sykmeldinger.tsx
  src/app/new/_unsent-sykmeldinger.tsx
  src/canary/db.ts
  src/server/sykmeldingerService.ts
Due: yarn eslint --fix --max-warnings=0

add error page for /new
  src/app/new/error.page.tsx
  src/middleware.page.ts
Due: yarn eslint --fix --max-warnings=0

Boost ram limit to 512
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

Boost ram limit to 512 (#382)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

try new next version
  package.json
  src/app/new/page.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump deps
  package.json
  yarn.lock
Due: yarn prettier --write

add nice skeleton on sykmelding list page
  src/components/FormComponents/YesNoField/YesNoField.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

[skip ci] fetch decorator with astro component
  src/components/Decorator.tsx
  src/layouts/Layout.astro
Due: yarn eslint --fix --max-warnings=0

align blue header with ditt sykefravær
  src/components/Header/Header.tsx
  src/components/Header/SykmeldingIcon.tsx
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

skeleton loading state for single sykmelding
  src/components/Header/Header.tsx
  src/feature-tests/avbrytSykmelding.test.tsx
  src/feature-tests/bekreftAvvist.test.tsx
  src/feature-tests/frilanser.test.tsx
  src/pages/[sykmeldingId]/index.page.tsx
  src/pages/[sykmeldingId]/kvittering.page.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
